@charset "UTF-8";

*:root {
  --color-accent: #4872AE;
  --color-text: #37474F;
  --color-text-light: #90A3B6;
  --color-white: #FFF;
  --color-light: #F5F9FD;
}

[class^="icon-"],
[class*=" icon-"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-bar:before {
  content: "\e900";
}

.icon-calendar:before {
  content: "\e901";
}

.icon-caret-down:before {
  content: "\e902";
}

.icon-caret-up:before {
  content: "\e903";
}

.icon-check:before {
  content: "\e904";
}

.icon-check-circle:before {
  content: "\e905";
}

.icon-chevron-left:before {
  content: "\e906";
}

.icon-chevron-right:before {
  content: "\e907";
}

.icon-close:before {
  content: "\e908";
}

.icon-edit:before {
  content: "\e909";
}

.icon-email:before {
  content: "\e90a";
}

.icon-exclamation-circle:before {
  content: "\e90b";
}

.icon-facebook:before {
  content: "\e90c";
}

.icon-google:before {
  content: "\e90d";
}

.icon-instagram:before {
  content: "\e90e";
}

.icon-link:before {
  content: "\e90f";
}

.icon-more-hor:before {
  content: "\e910";
}

.icon-near-me:before {
  content: "\e911";
}

.icon-search:before {
  content: "\e912";
}

.icon-shopping-cart:before {
  content: "\e913";
}

.icon-telegram:before {
  content: "\e914";
}

.icon-time:before {
  content: "\e915";
}

.icon-user:before {
  content: "\e916";
}

/* Подключение шрифтов */

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Размер свойства(свойство, размер макета №1, размер макета №2, размер свойства №1, размер свойства №2) */

/* Ширина контейнра(максимальный размер макета, минимальный размер макета, максимальный размер контейнера, минимальный размер контейнера) */

/* Обнуление стилей */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
}

::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration,
::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
  display: none;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 150%;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

li {
  list-style-type: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
  -webkit-transition: all .5s;
  transition: all .5s;
}

input:focus::-moz-placeholder {
  color: transparent;
  -moz-transition: all .5s;
  transition: all .5s;
}

input:focus:-ms-input-placeholder {
  color: transparent;
  -ms-transition: all .5s;
  transition: all .5s;
}

input:focus::-ms-input-placeholder {
  color: transparent;
  -ms-transition: all .5s;
  transition: all .5s;
}

input:focus::placeholder {
  color: transparent;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  min-height: 100vh;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

body.lock {
  overflow: hidden;
}

.container {
  margin: 0 auto;
}

.fb {
  text-align: center;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.hide {
  display: none;
}

picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  color: var(--color-text);
}

h3 {
  font-size: 24px;
}

button {
  color: inherit;
  border: none;
  background: none;
  padding: 0;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.btn-fill {
  color: var(--color-white);
  background: var(--color-accent);
  font-weight: 700;
  width: 450px;
  height: 76px;
  border-radius: 38px;
  -webkit-box-shadow: 6.252px 14.728px 43px 0px rgba(55, 71, 79, 0.43);
          box-shadow: 6.252px 14.728px 43px 0px rgba(55, 71, 79, 0.43);
}

a {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

a:hover {
  color: var(--color-accent);
}

blockquote {
  text-align: justify;
  background: var(--color-light);
  padding: 40px;
  margin: 0;
  border-radius: 60px;
}

.slider__arrows button {
  background: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 57px;
  border-radius: 22px;
  -webkit-box-shadow: 1.954px 4.603px 10px 0px rgba(55, 71, 79, 0.1);
          box-shadow: 1.954px 4.603px 10px 0px rgba(55, 71, 79, 0.1);
}

.slider__arrows button:first-child {
  margin-right: 30px;
}

/* Хедер */

.header-style-2.header-fluid {
  display: block;
}

.header-style-2 .header-2000 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 95px;
}

.header-style-2 .header-2000 .header-logo,
.header-style-2 .header-2000 .header-logo picture {
  height: 100%;
  width: auto;
}

.header-style-2 .header-2000 .header-menu {
  width: auto;
  max-width: none;
}

.header-style-2 .header-2000 .header-menu li {
  padding: 0;
  margin-right: 24px;
}

.header-style-2 .header-2000 .header-menu li:last-child {
  margin-right: 0;
}

.header-style-2.mob-menu-wrapper {
  padding: 0 0 60px 0;
}

.header-style-2 .mob-menu-header {
  height: 95px;
}

.header-style-2 .mob-menu-header-logo,
.header-style-2 .mob-menu-header-logo picture {
  height: 100%;
}

.header-style-2 .mob-menu-header-logo img,
.header-style-2 .mob-menu-header-logo picture img {
  height: 100%;
}

/* Футер */

.footer-style-2 {
  background: url(../img/footer-style-2-bg.png) no-repeat center center;
  background-size: 100% 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-style-2 .footer-top {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer-style-2 .footer-top-social-item {
  width: auto;
  height: auto;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-right: 48px;
}

/* ----- */

.med-homepage {
  padding-top: 95px;
}

.med-medzaklad {
  padding-top: 95px;
}

.medzaklad-first {
  background: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 90px;
  padding-bottom: 90px;
}

.medzaklad-first-left {
  width: 50%;
}

.medzaklad-first-right {
  width: 42%;
}

.medzaklad-first-right img {
  width: 100%;
}

.medzaklad-first-bottom {
  width: 100%;
  padding-top: 30px;
}

.medzaklad-first-title {
  font-weight: 800;
  font-size: 50px;
  color: #37474F;
  margin-bottom: 35px;
}

.medzaklad-first-desc {
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #37474F;
}

.medzaklad-first-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.medzaklad-first-more span {
  font-weight: 800;
  color: #4872AE;
  margin-right: 6px;
}

.medzaklad-first-btn {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  padding: 0 20px;
  height: 48px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #4872AE;
  -webkit-box-shadow: 0px 16px 16px rgba(0, 52, 113, 0.1);
          box-shadow: 0px 16px 16px rgba(0, 52, 113, 0.1);
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.medzaklad-first-btn:hover {
  color: #FFF;
}

.medzaklad-why {
  background: #FFF;
  padding-top: 90px;
  padding-bottom: 150px;
}

.medzaklad-why-title {
  font-weight: 800;
  font-size: 50px;
  color: #37474F;
  margin-bottom: 70px;
}

.medzaklad-why-desc {
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #37474F;
  background: #F5F9FD;
  padding: 60px;
  border-radius: 60px;
}

.medzaklad-roles {
  background: url(../img/medzaklad-roles-bg.png) no-repeat center center;
  background-size: 100% 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.medzaklad-roles > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 60px;
}

.medzaklad-roles + .medzaklad-roles {
  padding-top: 0;
  padding-bottom: 60px;
}

.medzaklad-roles-left {
  width: 42%;
}

.medzaklad-roles-left img {
  width: 100%;
}

.medzaklad-roles-right {
  width: 50%;
}

.medzaklad-roles-title {
  font-weight: 800;
  font-size: 50px;
  color: #37474F;
  margin-bottom: 70px;
}

.medzaklad-roles-desc {
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  color: #37474F;
}

.medzaklad-roles-desc ul {
  margin-bottom: 15px;
}

.medzaklad-roles-desc li {
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 15px;
  margin-left: 30px;
}

.medzaklad-roles-desc li:last-child {
  margin-bottom: 0;
}

.medzaklad-roles-desc li:before {
  content: '';
  background: var(--color-accent);
  position: absolute;
  width: 10px;
  height: 10px;
  left: -30px;
  border-radius: 50%;
}

.medzaklad-roles-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.medzaklad-roles-more span {
  font-weight: 800;
  color: #4872AE;
  margin-right: 6px;
}

.medzaklad-roles-btn {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  padding: 0 20px;
  height: 48px;
  background: #4872AE;
  -webkit-box-shadow: 0px 16px 16px rgba(0, 52, 113, 0.1);
          box-shadow: 0px 16px 16px rgba(0, 52, 113, 0.1);
  border-radius: 25px;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.medzaklad-case {
  padding-top: 150px;
  padding-bottom: 90px;
}

.medzaklad-case-title {
  font-weight: 800;
  font-size: 50px;
  color: #37474F;
  margin-bottom: 70px;
}

.medzaklad-case-container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(3, 1fr);
}

.medzaklad-case-item-wrapper {
  background: #F5F9FD;
  border-radius: 50px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.medzaklad-case-item-image {
  margin-bottom: 16px;
}

.medzaklad-case-item-image iframe {
  width: 100%;
}

.medzaklad-case-item-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #37474F;
  padding: 0 38px;
  margin-bottom: 20px;
}

/* Главная */

.med-homepage {
  /* Баннер */
  /* Приветствие */
  /* Права */
  /* Статистика */
  /* Статьи */
  /* Благодарим врачей */
  /* Кто мы */
}

.med-homepage .banner img {
  width: 100%;
}

.med-homepage .hello {
  background: var(--color-white);
  padding: 120px 0;
}

.med-homepage .hello__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.med-homepage .hello .hello__wrap + .hello__wrap {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 250px;
}

.med-homepage .hello__title {
  max-width: 1000px;
  margin-bottom: 100px;
}

.med-homepage .hello__quote-1 {
  max-width: 58.33%;
}

.med-homepage .hello__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.med-homepage .hello__actions button + button {
  margin-top: 45px;
}

.med-homepage .hello__slider {
  width: 50%;
}

.med-homepage .hello .slider__item img {
  width: 100%;
  border-radius: 60px;
  padding: 0 15px;
}

.med-homepage .hello .slider__arrows {
  margin-top: 75px;
}

.med-homepage .hello__quote-2 {
  width: 47.66%;
}

.med-homepage .rights__figure-top,
.med-homepage .rights__figure-bottom {
  width: 100%;
}

.med-homepage .rights__content {
  background: var(--color-light) url("img/rights-pattern.svg") 100%;
  padding: 120px 0;
  z-index: 1;
}

.med-homepage .rights__title {
  max-width: 1280px;
  margin-bottom: 60px;
}

.med-homepage .rights .slider {
  font-size: 20px;
}

.med-homepage .rights .slider__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
  margin-bottom: 120px;
}

.med-homepage .rights .slider__titles li {
  font-weight: 700;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33.33%;
  max-width: 420px;
  padding: 15px 0;
  border: 1px solid var(--color-text-light);
  border-radius: 50px;
}

.med-homepage .rights .slider__titles li.active {
  background: var(--color-white);
  border: none;
  -webkit-box-shadow: 3.126px 7.364px 18px 0px rgba(55, 71, 79, 0.11);
          box-shadow: 3.126px 7.364px 18px 0px rgba(55, 71, 79, 0.11);
}

.med-homepage .rights .slider__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.med-homepage .rights .slider .col {
  width: 50%;
}

.med-homepage .rights .slider .col ul {
  margin-bottom: 15px;
}

.med-homepage .rights .slider .col li {
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 15px;
  margin-left: 30px;
}

.med-homepage .rights .slider .col li:last-child {
  margin-bottom: 0;
}

.med-homepage .rights .slider .col li:before {
  content: '';
  background: var(--color-accent);
  position: absolute;
  width: 18px;
  height: 18px;
  left: -30px;
  border-radius: 50%;
}

.med-homepage .rights .slider img {
  width: 80%;
}

.med-homepage .rights .slider__arrows {
  margin-top: 50px;
}

.med-homepage .stats {
  padding: 120px 0;
}

.med-homepage .stats__title {
  margin-bottom: 50px;
}

.med-homepage .stats__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-bottom: 50px;
}

.med-homepage .stats .col {
  position: relative;
  width: 33.33%;
}

.med-homepage .stats .col:first-child {
  margin-top: 100px;
}

.med-homepage .stats .col:last-child {
  margin-top: 150px;
}

.med-homepage .stats__img {
  position: absolute;
  width: 80%;
  left: 10%;
  z-index: 0;
}

.med-homepage .stats__content {
  -ms-flex-line-pack: center;
      align-content: center;
  height: 300px;
  z-index: 1;
}

.med-homepage .stats__number {
  color: var(--color-accent);
  font-size: 100px;
  font-weight: 900;
}

.med-homepage .stats__desc {
  font-size: 28px;
}

.med-homepage .articles {
  padding: 120px 0;
}

.med-homepage .articles__title {
  max-width: 920px;
  margin-bottom: 100px;
}

.med-homepage .articles__list {
  display: grid;
  grid-gap: 30px;
  margin-bottom: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.med-homepage .articles .post {
  background: var(--color-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 50px;
  overflow: hidden;
}

.med-homepage .articles .post img {
  width: 100%;
}

.med-homepage .articles .post__info {
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 15px 30px 30px 30px;
}

.med-homepage .articles .post__title {
  font-size: 18px;
  margin-bottom: 20px;
}

.med-homepage .articles .post__link {
  color: var(--color-accent);
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.med-homepage .articles .post__link span {
  margin-right: 5px;
}

.med-homepage .thanks {
  background: url(../img/med-homepage-thanks-bg.png) no-repeat center center;
  background-size: 100% 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 120px 15px;
}

.med-homepage .thanks__title {
  margin-bottom: 30px;
}

.med-homepage .thanks__desc {
  text-align: center;
  margin-bottom: 90px;
}

.med-homepage .thanks__desc span {
  color: #4872AE;
}

.med-homepage .thanks .slider__item img {
  margin: 0 auto;
}

.med-homepage .thanks__slider-wrapper {
  margin-bottom: 100px;
}

.med-homepage .thanks__slider-arrows {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 54px;
}

.med-homepage .thanks__slider-arrows .slick-next,
.med-homepage .thanks__slider-arrows .slick-prev {
  position: relative;
  margin-top: 0;
}

.med-homepage .thanks__slider-arrows .slick-prev {
  margin-right: 30px;
}

.med-homepage .thanks__slider-arrows .slick-prev {
  width: 73px;
  height: 54px;
  background: #ffffff;
  -webkit-box-shadow: 0px 16px 16px rgba(0, 52, 113, 0.05);
          box-shadow: 0px 16px 16px rgba(0, 52, 113, 0.05);
  border-radius: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: auto;
}

.med-homepage .thanks__slider-arrows .slick-next {
  width: 73px;
  height: 54px;
  background: #ffffff;
  -webkit-box-shadow: 0px 16px 16px rgba(0, 52, 113, 0.05);
          box-shadow: 0px 16px 16px rgba(0, 52, 113, 0.05);
  border-radius: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: auto;
}

.med-homepage .thanks__stethoscope {
  position: absolute;
  right: -200px;
  bottom: 0;
}

.med-homepage .about-us {
  padding: 120px 15px;
}

.med-homepage .about-us__title {
  margin-bottom: 90px;
}

.med-homepage .about-us__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.med-homepage .about-us__left,
.med-homepage .about-us__right {
  width: calc( 50% - 15px);
}

.med-homepage .about-us img {
  width: 50%;
  margin: 0 auto 60px auto;
}

.med-homepage .about-us p {
  text-align: justify;
}

@media screen and (max-width: 950px) {
  .medzaklad-first-left {
    width: 100%;
    margin-bottom: 20px;
  }

  .medzaklad-first-right {
    width: 100%;
  }

  .medzaklad-first-title {
    font-size: 40px;
    margin-bottom: 24px;
  }

  .medzaklad-first-btn {
    margin-top: 30px;
  }

  .medzaklad-why-title {
    font-size: 40px;
    margin-bottom: 48px;
  }

  .medzaklad-why-desc {
    padding: 30px;
  }

  .medzaklad-roles-left {
    width: 100%;
    margin-bottom: 20px;
  }

  .medzaklad-roles-right {
    width: 100%;
  }

  .medzaklad-roles-title {
    font-size: 40px;
    margin-bottom: 48px;
  }

  .medzaklad-roles-btn {
    margin-top: 30px;
  }

  .medzaklad-case-title {
    font-size: 40px;
    margin-bottom: 48px;
  }

  .med-homepage .articles__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .med-homepage .thanks {
    padding: 60px 15px;
  }

  .med-homepage .thanks__desc {
    margin-bottom: 60px;
  }

  .med-homepage .about-us {
    padding: 60px 15px;
  }

  .med-homepage .about-us__title {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 650px) {
  .header-style-2.mob-menu-wrapper {
    padding: 0 0 60px 0;
  }

  .header-style-2 .mob-menu-header-logo,
  .header-style-2 .mob-menu-header-logo picture {
    width: auto;
  }

  .footer-style-2 {
    background: url(../img/footer-style-2-bg.png) no-repeat right center;
    padding-top: 200px;
  }

  .footer-style-2 .footer-top-social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer-style-2 .footer-top-social-item:last-child {
    margin-right: 0;
  }

  .medzaklad-first {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .medzaklad-first-title {
    font-size: 38px;
    text-align: center;
  }

  .medzaklad-first-btn {
    margin: 0 auto;
  }

  .medzaklad-why {
    padding-top: 60px;
    padding-bottom: 90px;
  }

  .medzaklad-why-title {
    font-size: 38px;
    text-align: center;
  }

  .medzaklad-why-desc {
    border-radius: 30px;
  }

  .medzaklad-roles {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .medzaklad-roles-title {
    font-size: 38px;
    text-align: center;
  }

  .medzaklad-roles-btn {
    margin: 0 auto;
  }

  .medzaklad-case {
    padding-top: 90px;
    padding-bottom: 60px;
  }

  .medzaklad-case-title {
    font-size: 38px;
    text-align: center;
  }

  .medzaklad-case-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .med-homepage .articles__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .med-homepage .thanks__title {
    margin-bottom: 15px;
  }

  .med-homepage .thanks__desc {
    margin-bottom: 40px;
  }

  .med-homepage .about-us__title {
    margin-bottom: 40px;
  }

  .med-homepage .about-us__left,
  .med-homepage .about-us__right {
    width: 100%;
  }

  .med-homepage .about-us img {
    margin: 0 auto 30px auto;
  }
}

@media screen and (max-width: 450px) {
  .medzaklad-case-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .med-homepage .articles__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .med-homepage .thanks__title h2 {
    font-size: 24px;
  }
}

.webp .footer-style-2{ background: url(../img/footer-style-2-bg.webp) no-repeat center center; }

.webp .medzaklad-roles{ background: url(../img/medzaklad-roles-bg.webp) no-repeat center center; }

.webp .med-homepage .thanks{ background: url(../img/med-homepage-thanks-bg.webp) no-repeat center center; }

@media screen and (max-width: 650px){

  .webp .footer-style-2{ background: url(../img/footer-style-2-bg.webp) no-repeat right center; }
}