body {
	font-size: 'Arial';
	color: #000;
}
h1, p span {
	color: red;
}

h2 {
	background-color: green;
	color: #fff;
}

.block {
	background-color: blue;
	color: #fff;
	width: 100px;
	margin-bottom: 100px;
}

.new {
	padding: 50px;
}

.new-2 {
	margin-left: 100px;
}

.menu li {
	border: solid #000 1px;
}