
@media screen and (max-width: 1600px) and (min-width: 768px) {
	/* General */
	section.ac-harvestfresh-section .ac-harvestfresh-title-default {
	    font-size: 42px;
	}

	section.ac-harvestfresh-section .ac-harvestfresh-title-default.ac-harvestfresh-title-default-with-icon {
	    padding-bottom: 30px; 
	}

	section.ac-harvestfresh-section .ac-harvestfresh-text-default {
	    font-size: 14px;
	}
	
	section.ac-harvestfresh-section .ac-harvestfresh-text-default.ac-harvestfresh-text-default-with-icon:after {
		top: 14px;
	}

	section.ac-harvestfresh-section .ac-harvestfresh-text-default.ac-harvestfresh-text-default-with-icon {
	    padding-left: 115px;
	}

	section.ac-harvestfresh-section .ac-harvestfresh-smalltext-default{
	    font-size: 12px;
	}

	section.ac-harvestfresh-section .ac-harvestfresh-title-default + .ac-harvestfresh-text-default {
	    margin-top: 30px;
	}


	/* Banner */

	section.ac-harvestfresh-banner {
	    padding-top: 75px;
	    padding-bottom: 175px;
	    padding-left: 50px;
	    padding-right: 50px;
	}
	
	section.ac-harvestfresh-banner .ac-harvestfresh-banner-hour {
	    width: 1100px;
	    height: 480px;
	    margin-left: -550px;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-banner-hour:before {
	    width: 1100px;
	    height: 1100px;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-logo {
	    width: 280px;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-content {
	    margin-top: 100px;
	    padding-left:calc(50% - 140px);
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-content .ac-harvestfresh-title-default {
	    font-size: 60px;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-content .ac-harvestfresh-text-default {
	    font-size: 18px;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-content .ac-harvestfresh-title-default +  .ac-harvestfresh-text-default {
	    margin-top: 20px;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-content .ac-harvestfresh-refrigerator {
	    width: 240px;
	    left: calc(50% - 600px);
	    top: -165px;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-discover span {
	    font-size: 14px;
	}

	/* 24 Hour */

	section.ac-harvestfresh-hours {
	    padding-top: 115px;
	    padding-bottom: 95px;
	    padding-left: 50px;
	    padding-right: 50px;
	}

	section.ac-harvestfresh-hours .ac-harvestfresh-roundslider {
	    margin-top: 55px;
	}

	/* Vitamins */

	section.ac-harvestfresh-vitamins .ac-harvestfresh-image img {
	    width: 780px;
	    margin-left: -92px;
	}

	section.ac-harvestfresh-vitamins .ac-harvestfresh-content .ac-harvestfresh-smalltext-default {
	    padding-left: 115px;
	}

	section.ac-harvestfresh-vitamins .ac-harvestfresh-content .ac-harvestfresh-smalltext-default br {
		display: none;
	}

	section.ac-harvestfresh-vitamins .ac-harvestfresh-content .ac-harvestfresh-text-default + .ac-harvestfresh-smalltext-default {
	    margin-top: 40px;
	}

	/* Slider */
	section.ac-harvestfresh-slider {
	    padding-top: 140px;
	    padding-bottom: 80px;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items {
	    height: 580px;
	    padding-left: 100px;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item {
	    width: 387px;
	    height: 580px;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item + .ac-harvestfresh-item {
	    margin-left: 30px;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item.animate.animate-step2 {
		transform: translateX(calc(-100% - 30px));
	    -webkit-transform: translateX(calc(-100% - 30px));
	    -moz-transform: translateX(calc(-100% - 30px));
	    -ms-transform: translateX(calc(-100% - 30px));
	    -o-transform: translateX(calc(-100% - 30px));
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item.animate-backward {
	    transform: translateX(calc(-100% - 30px));
	    -webkit-transform: translateX(calc(-100% - 30px));
	    -moz-transform: translateX(calc(-100% - 30px));
	    -ms-transform: translateX(calc(-100% - 30px));
	    -o-transform: translateX(calc(-100% - 30px));
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item .ac-harvestfresh-text {
	    font-size: 32px;
	    padding: 110px 30px; 
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-arrows  {
	    left: 130px;
	    bottom: 30px;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-arrows .ac-harvestfresh-arrow {
	    width: 42px;
	    height: 42px;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-arrows .ac-harvestfresh-arrow + .ac-harvestfresh-arrow {
	    margin-left: 17px;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-arrows .ac-harvestfresh-arrow img {
	    width: 14px;
	    height: 10px;
	    margin-left: -7px;
	    margin-top: -5px;
	}

	/* Video */

	section.ac-harvestfresh-video .ac-harvestfresh-video-container {
	    width: 1140px;
	}

	section.ac-harvestfresh-video .ac-harvestfresh-video-container .ac-harvestfresh-video-text-1 {
	    font-size: 100px;
	}

	section.ac-harvestfresh-video .ac-harvestfresh-video-container .ac-harvestfresh-video-text-2 {
	    font-size: 100px;
	}

	section.ac-harvestfresh-video .ac-harvestfresh-video-container .ac-harvestfresh-video-play-container .ac-harvestfresh-video-play {
	    width: 96px;
	    height: 96px;
	    margin-left: -48px;
	    margin-top: -48px;
	}

	section.ac-harvestfresh-video .ac-harvestfresh-video-container .ac-harvestfresh-video-play-container .ac-harvestfresh-video-play img {
	    width: 30px;
	    height: 26px;
	    margin-left: -15px;
	    margin-top: -13px;
	}

	/* List */

	section.ac-harvestfresh-list {
	    padding-bottom: 100px;
	}

	section.ac-harvestfresh-list .ac-harvestfresh-items {
	    width: 1350px;
	    margin-top: 30px;
	}

	section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item {
	    width: calc((100% - 71px) / 3);
	    padding: 50px 45px 55px 45px;
	}

	section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item:nth-child(3n + 2),
	section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item:nth-child(3n + 3) {
	    margin-left: 35px;
	}

	section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item .ac-harvestfresh-title {
	    font-size: 16px;
	}

	section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item .ac-harvestfresh-text {
	    margin-top:16px;
	    font-size: 20px;
	}

	section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item .ac-harvestfresh-image {
	    margin-top:50px;
	    width: 113px;
	}

	/* The End */
}


@media screen and (max-width: 1400px) and (min-width: 768px) {
	/* General */
	section.ac-harvestfresh-section .ac-harvestfresh-title-default {
	    font-size: 38px;
	}

	section.ac-harvestfresh-section .ac-harvestfresh-title-default.ac-harvestfresh-title-default-with-icon {
	    padding-bottom: 20px; 
	}

	section.ac-harvestfresh-section .ac-harvestfresh-text-default {
	    font-size: 12px;
	}
	
	section.ac-harvestfresh-section .ac-harvestfresh-text-default.ac-harvestfresh-text-default-with-icon:after {
		top: 12px;
	}

	section.ac-harvestfresh-section .ac-harvestfresh-text-default.ac-harvestfresh-text-default-with-icon {
	    padding-left: 90px;
	}


	section.ac-harvestfresh-section .ac-harvestfresh-text-default.ac-harvestfresh-text-default-with-icon:after {
	    width: 70px;
	    height: 2px;
	}

	section.ac-harvestfresh-section .ac-harvestfresh-smalltext-default{
	    font-size: 12px;
	}

	section.ac-harvestfresh-section .ac-harvestfresh-title-default + .ac-harvestfresh-text-default {
	    margin-top: 30px;
	}


	/* Banner */

	section.ac-harvestfresh-banner {
	    padding-top: 65px;
	    padding-bottom: 175px;
	    padding-left: 50px;
	    padding-right: 50px;
	}
	
	section.ac-harvestfresh-banner .ac-harvestfresh-banner-hour {
	    width: 1000px;
	    height: 450px;
	    margin-left: -500px;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-banner-hour:before {
	    width: 1000px;
	    height: 1000px;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-logo {
	    width: 240px;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-content {
	    margin-top: 80px;
	    padding-left:calc(50% - 120px);
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-content .ac-harvestfresh-title-default {
	    font-size: 52px;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-content .ac-harvestfresh-text-default {
	    font-size: 16px;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-content .ac-harvestfresh-title-default +  .ac-harvestfresh-text-default {
	    margin-top: 20px;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-content .ac-harvestfresh-refrigerator {
	    width: 200px;
	    left: calc(50% - 520px);
	    top: -125px;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-discover {
	    left: calc(50% - 215px);
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-discover span {
	    font-size: 12px;
	}

	/* 24 Hour */

	section.ac-harvestfresh-hours {
	    padding-top: 95px;
	    padding-bottom: 85px;
	    padding-left: 50px;
	    padding-right: 50px;
	}

	section.ac-harvestfresh-hours .ac-harvestfresh-roundslider {
	    margin-top: 45px;
	}

	/* Vitamins */

	section.ac-harvestfresh-vitamins .ac-harvestfresh-image img {
	    width: 650px;
	    margin-left: -92px;
	}

	section.ac-harvestfresh-vitamins .ac-harvestfresh-content .ac-harvestfresh-smalltext-default {
	    padding-left: 90px;
	}

	section.ac-harvestfresh-vitamins .ac-harvestfresh-content .ac-harvestfresh-smalltext-default br {
		display: none;
	}

	section.ac-harvestfresh-vitamins .ac-harvestfresh-content .ac-harvestfresh-text-default + .ac-harvestfresh-smalltext-default {
	    margin-top: 20px;
	}

	/* Slider */
	section.ac-harvestfresh-slider {
	    padding-top: 120px;
	    padding-bottom: 60px;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items {
	    height: 540px;
	    padding-left: 80px;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item {
	    width: 360px;
	    height: 540px;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item + .ac-harvestfresh-item {
	    margin-left: 20px;
	}


	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item.animate.animate-step2 {
	    transform: translateX(calc(-100% - 20px));
	    -webkit-transform: translateX(calc(-100% - 20px));
	    -moz-transform: translateX(calc(-100% - 20px));
	    -ms-transform: translateX(calc(-100% - 20px));
	    -o-transform: translateX(calc(-100% - 20px));
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item.animate-backward {
	    transform: translateX(calc(-100% - 20px));
	    -webkit-transform: translateX(calc(-100% - 20px));
	    -moz-transform: translateX(calc(-100% - 20px));
	    -ms-transform: translateX(calc(-100% - 20px));
	    -o-transform: translateX(calc(-100% - 20px));
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item .ac-harvestfresh-text {
	    padding-top:  110px 30px;
	    font-size: 30px;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-arrows  {
	    left: 110px;
	    bottom: 30px;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-arrows .ac-harvestfresh-arrow {
	    width: 38px;
	    height: 38px;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-arrows .ac-harvestfresh-arrow + .ac-harvestfresh-arrow {
	    margin-left: 14px;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-arrows .ac-harvestfresh-arrow img {
	    width: 12px;
	    height: 8px;
	    margin-left: -6px;
	    margin-top: -4px;
	}

	/* Video */

	section.ac-harvestfresh-video {
	    padding-top: 125px;
	    padding-bottom: 140px;
	}

	section.ac-harvestfresh-video .ac-harvestfresh-video-container {
	    width: 900px;
	}

	section.ac-harvestfresh-video .ac-harvestfresh-video-container .ac-harvestfresh-video-text-1 {
	    top: -130px;
		left: -190px;
	    font-size: 80px;
	}

	section.ac-harvestfresh-video .ac-harvestfresh-video-container .ac-harvestfresh-video-text-2 {
	    bottom: -130px;
		right: -190px;
	    font-size: 80px;
	}

	section.ac-harvestfresh-video .ac-harvestfresh-video-container .ac-harvestfresh-video-play-container .ac-harvestfresh-video-play {
	    width: 80px;
	    height: 80px;
	    margin-left: -40px;
	    margin-top: -40px;
	}

	section.ac-harvestfresh-video .ac-harvestfresh-video-container .ac-harvestfresh-video-play-container .ac-harvestfresh-video-play img {
	    width: 30px;
	    height: 26px;
	    margin-left: -15px;
	    margin-top: -13px;
	}

	/* List */

	section.ac-harvestfresh-list {
	    padding-bottom: 100px;
	}

	section.ac-harvestfresh-list .ac-harvestfresh-items {
	    width: 1350px;
	    margin-top: 30px;
	}

	section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item {
	    width: calc((100% - 41px) / 3);
	    padding: 30px 35px 35px 35px;
	}

	section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item:nth-child(3n + 2),
	section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item:nth-child(3n + 3) {
	    margin-left: 20px;
	}

	section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item .ac-harvestfresh-title {
	    font-size: 14px;
	}

	section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item .ac-harvestfresh-text {
	    margin-top:12px;
	    font-size: 16px;
	}

	section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item .ac-harvestfresh-image {
	    margin-top:30px;
	    width: 110px;
	}

	/* The End */
}


@media screen and (max-width: 1100px) and (min-width: 768px) {
	/* General */
	section.ac-harvestfresh-section .ac-harvestfresh-title-default {
	    font-size: 34px;
	}

	section.ac-harvestfresh-section .ac-harvestfresh-title-default.ac-harvestfresh-title-default-with-icon {
	    padding-bottom: 20px; 
	}

	section.ac-harvestfresh-section .ac-harvestfresh-text-default {
	    font-size: 12px;
	}
	
	section.ac-harvestfresh-section .ac-harvestfresh-text-default.ac-harvestfresh-text-default-with-icon:after {
		top: 12px;
	}

	section.ac-harvestfresh-section .ac-harvestfresh-text-default.ac-harvestfresh-text-default-with-icon {
	    padding-left: 90px;
	}


	section.ac-harvestfresh-section .ac-harvestfresh-text-default.ac-harvestfresh-text-default-with-icon:after {
	    width: 70px;
	    height: 2px;
	}

	section.ac-harvestfresh-section .ac-harvestfresh-smalltext-default{
	    font-size: 12px;
	}

	section.ac-harvestfresh-section .ac-harvestfresh-title-default + .ac-harvestfresh-text-default {
	    margin-top: 30px;
	}


	/* Banner */

	section.ac-harvestfresh-banner {
	    padding-top: 65px;
	    padding-bottom: 175px;
	    padding-left: 50px;
	    padding-right: 50px;
	}
	
	section.ac-harvestfresh-banner .ac-harvestfresh-banner-hour {
	    width: 880px;
	    height: 440px;
	    margin-left: -440px;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-banner-hour:before {
	    width: 880px;
	    height: 880px;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-logo {
	    width: 240px;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-content {
	    margin-top: 80px;
	    padding-left:calc(50% - 120px);
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-content .ac-harvestfresh-title-default {
	    font-size: 52px;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-content .ac-harvestfresh-text-default {
	    font-size: 16px;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-content .ac-harvestfresh-title-default +  .ac-harvestfresh-text-default {
	    margin-top: 20px;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-content .ac-harvestfresh-refrigerator {
	    width: 200px;
	    left: calc(50% - 450px);
	    top: -125px;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-discover {
	    left: calc(50% - 195px);
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-discover span {
	    font-size: 12px;
	}

	/* 24 Hour */

	section.ac-harvestfresh-hours {
	    padding-top: 95px;
	    padding-bottom: 85px;
	    padding-left: 50px;
	    padding-right: 50px;
	}

	section.ac-harvestfresh-hours .ac-harvestfresh-roundslider {
	    margin-top: 45px;
	}

	/* Vitamins */

	section.ac-harvestfresh-vitamins .ac-harvestfresh-image img {
	    width: 650px;
	    margin-left: -250px;
	}

	section.ac-harvestfresh-vitamins .ac-harvestfresh-content .ac-harvestfresh-smalltext-default {
	    padding-left: 90px;
	}

	section.ac-harvestfresh-vitamins .ac-harvestfresh-content .ac-harvestfresh-smalltext-default br {
		display: none;
	}

	section.ac-harvestfresh-vitamins .ac-harvestfresh-content .ac-harvestfresh-text-default + .ac-harvestfresh-smalltext-default {
	    margin-top: 20px;
	}

	/* Slider */
	section.ac-harvestfresh-slider {
	    padding-top: 120px;
	    padding-bottom: 60px;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items {
	    height: 540px;
	    padding-left: 80px;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item {
	    width: 360px;
	    height: 540px;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item + .ac-harvestfresh-item {
	    margin-left: 20px;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item.animate.animate-step2 {
	    transform: translateX(calc(-100% - 20px));
	    -webkit-transform: translateX(calc(-100% - 20px));
	    -moz-transform: translateX(calc(-100% - 20px));
	    -ms-transform: translateX(calc(-100% - 20px));
	    -o-transform: translateX(calc(-100% - 20px));
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item.animate-backward {
	    transform: translateX(calc(-100% - 20px));
	    -webkit-transform: translateX(calc(-100% - 20px));
	    -moz-transform: translateX(calc(-100% - 20px));
	    -ms-transform: translateX(calc(-100% - 20px));
	    -o-transform: translateX(calc(-100% - 20px));
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item .ac-harvestfresh-text {
	    padding-top:  110px 30px;
	    font-size: 30px;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-arrows  {
	    left: 110px;
	    bottom: 30px;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-arrows .ac-harvestfresh-arrow {
	    width: 38px;
	    height: 38px;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-arrows .ac-harvestfresh-arrow + .ac-harvestfresh-arrow {
	    margin-left: 14px;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-arrows .ac-harvestfresh-arrow img {
	    width: 12px;
	    height: 8px;
	    margin-left: -6px;
	    margin-top: -4px;
	}

	/* Video */

	section.ac-harvestfresh-video {
	    padding-top: 125px;
	    padding-bottom: 140px;
	}

	section.ac-harvestfresh-video .ac-harvestfresh-video-container {
	    width: 900px;
	}

	section.ac-harvestfresh-video .ac-harvestfresh-video-container .ac-harvestfresh-video-text-1 {
	    top: -130px;
		left: -190px;
	    font-size: 80px;
	}

	section.ac-harvestfresh-video .ac-harvestfresh-video-container .ac-harvestfresh-video-text-2 {
	    bottom: -130px;
		right: -190px;
	    font-size: 80px;
	}


	section.ac-harvestfresh-video .ac-harvestfresh-video-container .ac-harvestfresh-video-play-container .ac-harvestfresh-video-play {
	    width: 80px;
	    height: 80px;
	    margin-left: -40px;
	    margin-top: -40px;
	}

	section.ac-harvestfresh-video .ac-harvestfresh-video-container .ac-harvestfresh-video-play-container .ac-harvestfresh-video-play img {
	    width: 30px;
	    height: 26px;
	    margin-left: -15px;
	    margin-top: -13px;
	}

	/* List */

	section.ac-harvestfresh-list {
	    padding-bottom: 100px;
	}

	section.ac-harvestfresh-list .ac-harvestfresh-items {
	    width: 1350px;
	    margin-top: 30px;
	}

	section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item {
	    width: calc((100% - 41px) / 3);
	    padding: 30px 35px 35px 35px;
	}

	section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item:nth-child(3n + 2),
	section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item:nth-child(3n + 3) {
	    margin-left: 20px;
	}

	section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item .ac-harvestfresh-title {
	    font-size: 12px;
	}

	section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item .ac-harvestfresh-text {
	    margin-top:12px;
	    font-size: 14px;
	}

	section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item .ac-harvestfresh-image {
	    margin-top:30px;
	    width: 110px;
	}

	/* The End */
}


@media screen and (max-width: 900px) and (min-width: 768px) {
	/* General */
	section.ac-harvestfresh-section .ac-harvestfresh-title-default {
	    font-size: 30px;
	}

	section.ac-harvestfresh-section .ac-harvestfresh-title-default.ac-harvestfresh-title-default-with-icon {
	    padding-bottom: 14px; 
	}

	section.ac-harvestfresh-section .ac-harvestfresh-text-default {
	    font-size: 12px;
	}
	
	section.ac-harvestfresh-section .ac-harvestfresh-text-default.ac-harvestfresh-text-default-with-icon:after {
		top :12px;
	}

	section.ac-harvestfresh-section .ac-harvestfresh-text-default.ac-harvestfresh-text-default-with-icon {
	    padding-left: 70px;
	}


	section.ac-harvestfresh-section .ac-harvestfresh-text-default.ac-harvestfresh-text-default-with-icon:after {
	    width: 40px;
	    height: 1px;
	}

	section.ac-harvestfresh-section .ac-harvestfresh-smalltext-default{
	    font-size: 12px;
	}

	section.ac-harvestfresh-section .ac-harvestfresh-title-default + .ac-harvestfresh-text-default {
	    margin-top: 20px;
	}


	/* Banner */

	section.ac-harvestfresh-banner {
	    padding-top: 45px;
	    padding-bottom: 175px;
	    padding-left: 30px;
	    padding-right: 30px;
	}
	
	section.ac-harvestfresh-banner .ac-harvestfresh-banner-hour {
	    width: 740px;
	    height: 370px;
	    margin-left: -370px;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-banner-hour:before {
	    width: 740px;
	    height: 740px;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-logo {
	    width: 200px;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-content {
	    margin-top: 40px;
	    padding-left:calc(50% - 100px);
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-content .ac-harvestfresh-title-default {
	    font-size: 48px;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-content .ac-harvestfresh-text-default {
	    font-size: 14px;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-content .ac-harvestfresh-title-default +  .ac-harvestfresh-text-default {
	    margin-top: 20px;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-content .ac-harvestfresh-refrigerator {
	    width: 200px;
	    left: calc(50% - 450px);
	    top: -125px;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-discover {
	    left: calc(50% - 175px);
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-discover span {
	    font-size: 12px;
	}

	/* 24 Hour */

	section.ac-harvestfresh-hours {
	    padding-top: 95px;
	    padding-bottom: 85px;
	    padding-left: 50px;
	    padding-right: 50px;
	}

	section.ac-harvestfresh-hours .ac-harvestfresh-roundslider {
	    margin-top: 45px;
	}

	/* Vitamins */

	section.ac-harvestfresh-vitamins .ac-harvestfresh-image img {
	    width: 650px;
	    margin-left: -280px;
	}

	section.ac-harvestfresh-vitamins .ac-harvestfresh-content .ac-harvestfresh-smalltext-default {
	    padding-left: 70px;
	}

	section.ac-harvestfresh-vitamins .ac-harvestfresh-content .ac-harvestfresh-smalltext-default br {
		display: none;
	}

	section.ac-harvestfresh-vitamins .ac-harvestfresh-content .ac-harvestfresh-text-default + .ac-harvestfresh-smalltext-default {
	    margin-top: 20px;
	}

	/* Slider */
	section.ac-harvestfresh-slider {
	    padding-top: 120px;
	    padding-bottom: 60px;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items {
	    height: 480px;
	    padding-left: 20px;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item {
	    width: 320px;
	    height: 480px;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item + .ac-harvestfresh-item {
	    margin-left: 20px;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item .ac-harvestfresh-text {
	    padding-top: 110px 30px;
	    font-size: 24px;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-arrows  {
	    left: 50px;
	    bottom: 30px;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-arrows .ac-harvestfresh-arrow {
	    width: 38px;
	    height: 38px;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-arrows .ac-harvestfresh-arrow + .ac-harvestfresh-arrow {
	    margin-left: 14px;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-arrows .ac-harvestfresh-arrow img {
	    width: 12px;
	    height: 8px;
	    margin-left: -6px;
	    margin-top: -4px;
	}

	/* Video */

	section.ac-harvestfresh-video {
	    padding-top: 125px;
	    padding-bottom: 140px;
	}

	section.ac-harvestfresh-video .ac-harvestfresh-video-container {
	    width: 900px;
	}

	section.ac-harvestfresh-video .ac-harvestfresh-video-container .ac-harvestfresh-video-text-1 {
	    top: -130px;
		left: -190px;
	    font-size: 80px;
	}

	section.ac-harvestfresh-video .ac-harvestfresh-video-container .ac-harvestfresh-video-text-2 {
	    bottom: -130px;
		right: -190px;
	    font-size: 80px;
	}


	section.ac-harvestfresh-video .ac-harvestfresh-video-container .ac-harvestfresh-video-play-container .ac-harvestfresh-video-play {
	    width: 80px;
	    height: 80px;
	    margin-left: -40px;
	    margin-top: -40px;
	}

	section.ac-harvestfresh-video .ac-harvestfresh-video-container .ac-harvestfresh-video-play-container .ac-harvestfresh-video-play img {
	    width: 30px;
	    height: 26px;
	    margin-left: -15px;
	    margin-top: -13px;
	}

	/* List */

	section.ac-harvestfresh-list {
	    padding-bottom: 100px;
	}

	section.ac-harvestfresh-list .ac-harvestfresh-items {
	    width: 1350px;
	    margin-top: 30px;
	}

	section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item {
	    width: calc((100% - 41px) / 3);
	    padding: 30px 35px 35px 35px;
	}

	section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item:nth-child(3n + 2),
	section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item:nth-child(3n + 3) {
	    margin-left: 20px;
	}

	section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item .ac-harvestfresh-title {
	    font-size: 12px;
	}

	section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item .ac-harvestfresh-text {
	    margin-top:12px;
	    font-size: 14px;
	}

	section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item .ac-harvestfresh-image {
	    margin-top:30px;
	    width: 110px;
	}

	/* The End */
}

@media screen and (min-width: 768px) {
	.mobile-only {
		display: none !important;
	}	
}

@media screen and (max-width: 767px) {
	.desktop-only {
		display: none !important;
	}

	/* General */
	section.ac-harvestfresh-section .ac-harvestfresh-title-default {
	    font-size: 7.46vw;
	}

	section.ac-harvestfresh-section .ac-harvestfresh-title-default br {
		display: none;
	}

	section.ac-harvestfresh-section .ac-harvestfresh-title-default.ac-harvestfresh-title-default-with-icon {
	    padding-bottom: 5.33vw; 
	}

	section.ac-harvestfresh-section .ac-harvestfresh-title-default.ac-harvestfresh-title-default-with-icon:after {
	    width: 10.67vw;
	    height: 2px;
	    margin-left: -5.33vw;
	}

	section.ac-harvestfresh-section .ac-harvestfresh-text-default {
	    font-size: 3.73vw;
	}

	section.ac-harvestfresh-section .ac-harvestfresh-text-default br {
		display: none;
	}

	section.ac-harvestfresh-section .ac-harvestfresh-text-default.ac-harvestfresh-text-default-with-icon {
	    padding-left: 0;
	    padding-top: 5.33vw;
	}


	section.ac-harvestfresh-section .ac-harvestfresh-text-default.ac-harvestfresh-text-default-with-icon:after {
	    width: 10.67vw;
	    height: 2px;
	    top: 0;
	    left: 0;
	}

	section.ac-harvestfresh-section .ac-harvestfresh-smalltext-default{
	    font-size: 2.67vw;
	}

	section.ac-harvestfresh-section .ac-harvestfresh-smalltext-default br {
		display: none;
	}

	section.ac-harvestfresh-section .ac-harvestfresh-title-default + .ac-harvestfresh-text-default {
	    margin-top: 5.33vw;
	}


	/* Banner */

	section.ac-harvestfresh-banner {
	    padding-top: 9.6vw;
	    padding-bottom: 0;
	    padding-left: 4.53vw;
	    padding-right: 4.53vw;
	    overflow: hidden;
	}
	
	section.ac-harvestfresh-banner .ac-harvestfresh-banner-hour {
	    width: 160vw;
	    height: 94vw;
	    margin-left: -80vw;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-banner-hour:before {
	    width: 160vw;
	    height: 160vw;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-banner-hour .ac-harvestfresh-banner-hour-text {
		display: none !important;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-logo {
	    width: 53.33vw;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-content {
	    margin-top: 11.47vw;
	    padding-left: 0;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-content .ac-harvestfresh-title-default {
	    font-size: 8.53vw;
	    text-align: center;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-content .ac-harvestfresh-text-default {
	    font-size: 3.47vw;
	    text-align: center;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-content .ac-harvestfresh-title-default +  .ac-harvestfresh-text-default {
	    margin-top: 5.33vw;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-content .ac-harvestfresh-refrigerator {
	    position: relative;
	    width: 43.73vw;
	    left: auto;
	    top: auto;
	    margin-top: 10.67vw;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-discover {
	    padding-left: 57.33vw;
	    left: 6.67vw;
	    bottom: 0;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-discover:before {
	    width: 51.74vw;
	    height: 1px;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-discover span {
	    font-size: 3.75vw;
	}

	section.ac-harvestfresh-banner .ac-harvestfresh-discover span:before {
	    width: calc(1.87vw + 6px);
	    height: calc(1.87vw + 6px);
	    margin-top: calc(-0.93vw - 3px);
	}
	
	@keyframes discoverAnimation {
	    0% {
	        left: 51.74vw;
	    }
	    40% {
	        left: 38.2vw;
	    }
	    50% {
	        left: 43.2vw;
	    }
	    85% {
	        left: 43.2vw;
	    }
	    100% {
	        left: 51.74vw;
	    }
	}

	@-webkit-keyframes discoverAnimation {
	    0% {
	        left: 51.74vw;
	    }
	    40% {
	        left: 38.2vw;
	    }
	    50% {
	        left: 43.2vw;
	    }
	    85% {
	        left: 43.2vw;
	    }
	    100% {
	        left: 51.74vw;
	    }
	}

	@-moz-keyframes discoverAnimation {
	    0% {
	        left: 51.74vw;
	    }
	    40% {
	        left: 38.2vw;
	    }
	    50% {
	        left: 43.2vw;
	    }
	    85% {
	        left: 43.2vw;
	    }
	    100% {
	        left: 51.74vw;
	    }
	}

	@-ms-keyframes discoverAnimation {
	    0% {
	        left: 51.74vw;
	    }
	    40% {
	        left: 38.2vw;
	    }
	    50% {
	        left: 43.2vw;
	    }
	    85% {
	        left: 43.2vw;
	    }
	    100% {
	        left: 51.74vw;
	    }
	}

	/* 24 Hour */

	section.ac-harvestfresh-hours {
	    padding-top: 18.67vw;
	    padding-bottom: 22.67vw;
	    padding-left: 4.53vw;
	    padding-right: 4.53vw;
	}

	section.ac-harvestfresh-hours .ac-harvestfresh-roundslider {
		margin-top: 8vw;
	}

	section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-roundslider-item-mobile {
	}

	section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-roundslider-item-mobile .ac-harvestfresh-icon-morning {
	    width: 12vw;
	    height: 12vw;
	    float: left;
	    background-color: #FFFFFF;
	    border-radius: 50%;    
	    -webkit-box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
	    -moz-box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
	    box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
	}

	section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-roundslider-item-mobile .ac-harvestfresh-icon-morning img {
	    width: 100%;
	}

	section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-roundslider-item-mobile .ac-harvestfresh-icon-afternoon {
	    width: 12vw;
	    height: 12vw;
	    display: inline-block;
	    background-color: #FFFFFF;
	    border-radius: 50%;    
	    -webkit-box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
	    -moz-box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
	    box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
	}

	section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-roundslider-item-mobile .ac-harvestfresh-icon-afternoon img {
	    width: 100%;
	}

	section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-roundslider-item-mobile .ac-harvestfresh-icon-evening {
	    width: 12vw;
	    height: 12vw;
	    float: right;
	    display: inline-block;
	    background-color: #FFFFFF;
	    border-radius: 50%;    
	    -webkit-box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
	    -moz-box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
	    box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
	}

	section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-roundslider-item-mobile .ac-harvestfresh-icon-evening img {
	    width: 100%;
	}

	section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-roundslider-item-mobile .ac-harvestfresh-roundslider-item-mobile-input-container {
		position: relative;
		width: calc(100% - 12vw);
		margin-left: 6vw;
		height: 18.4vw;
	}

	section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-roundslider-item-mobile .ac-harvestfresh-roundslider-item-mobile-input-container img {
		position: absolute;
		width: 112%;
		height: 100%;
		left: -6%;
	}

	section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-roundslider-item-mobile .ac-harvestfresh-roundslider-item-mobile-input-container input {
		position: relative;
		width: 100%;
		height: 100%;
		opacity: 0;
	}

	section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-roundslider-item-mobile .ac-harvestfresh-roundslider-item-mobile-input-container .ac-harvestfresh-icon-hand {
		position: absolute;
		width: 12.8vw;
		height: 12.8vw;
		left: 10%;
		top: 50%;
		border-radius: 50%;
	    background-image: url(Images/icon-clock.png);
	    background-size: contain;
	    background-position: center;
	    background-repeat: no-repeat;
	    -webkit-box-shadow: 0px 0px 5px 5px rgba(112,112,112,.2);
	    -moz-box-shadow: 0px 0px 5px 5px rgba(112,112,112,.2);
	    box-shadow: 0px 0px 5px 5px rgba(112,112,112,.2);
		transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
	}

	section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-items {
	    position: relative;
	    width: 100%;
	    height: 58.67vw;
	    bottom: auto;
	    left: auto;
	    margin-left: 0;
	}

	section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-items .ac-harvestfresh-item {
	    position: absolute;
	    width: 100%;
	    left: 0;
	    bottom: auto;
	    top: 0;
	    opacity: 0;
	}

	section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-items .ac-harvestfresh-item.blue {
	    opacity: 1;
	}

	section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-items .ac-harvestfresh-item .ac-harvestfresh-title {
	    font-weight: 800;
	    font-size: 9.6vw;
	}

	section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-items .ac-harvestfresh-item .ac-harvestfresh-text {
	    margin-top: 2.67vw;
	    font-size: 3.73vw;
	}

	section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-items .ac-harvestfresh-item .ac-harvestfresh-image {
	    margin-top: 5.33vw;
	}

	section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-items .ac-harvestfresh-items-smalltext {
	    position: absolute;
	    width: 100%;
	    bottom: auto;
	    top:calc(100% + 6.67vw);
	    left: auto;
	    font-size: 3.2vw;
	}

	/* Vitamins */
	section.ac-harvestfresh-vitamins .ac-harvestfresh-image{
	    width: 100%;
	}

	section.ac-harvestfresh-vitamins .ac-harvestfresh-image img {
	    width: 133.87vw;
	    margin-left: -39.47vw;
	}

	section.ac-harvestfresh-vitamins .ac-harvestfresh-content {
	    width: 100%;
	    margin-top: 13.33vw;
	    padding-left: 4.53vw;
	    padding-right: 4.53vw;
	}

	section.ac-harvestfresh-vitamins .ac-harvestfresh-content .ac-harvestfresh-smalltext-default {
	    padding-left: 0;
	}

	section.ac-harvestfresh-vitamins .ac-harvestfresh-content .ac-harvestfresh-text-default + .ac-harvestfresh-smalltext-default {
	    margin-top: 8vw;
	}

	/* Slider */
	section.ac-harvestfresh-slider {
	    padding-top: 22.67vw;
	    padding-bottom: 21.33vw;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-content {
	    width: 100%;
	    padding-left: 4.53vw;
	    padding-right: 4.53vw;
	    text-align: left;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items {
	    position: relative;
	    width: 100%;
	    height: 115.2vw;
	    margin-top: 13.33vw;
	    padding-left: 11.6vw;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item {
	    position: relative;
	    width: 76.8vw;
	    height: 115.2vw;
	    border-radius: 8vw;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item.animate.animate-step2 {
	    transform: translateX(calc(-100% - 5.33vw));
	    -webkit-transform: translateX(calc(-100% - 5.33vw));
	    -moz-transform: translateX(calc(-100% - 5.33vw));
	    -ms-transform: translateX(calc(-100% - 5.33vw));
	    -o-transform: translateX(calc(-100% - 5.33vw));
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item.animate-backward {
	    transform: translateX(calc(-100% - 5.33vw));
	    -webkit-transform: translateX(calc(-100% - 5.33vw));
	    -moz-transform: translateX(calc(-100% - 5.33vw));
	    -ms-transform: translateX(calc(-100% - 5.33vw));
	    -o-transform: translateX(calc(-100% - 5.33vw));
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item + .ac-harvestfresh-item {
	    margin-left: 5.33vw;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item .ac-harvestfresh-text {
	    padding: 25.33vw 8vw;
	    font-size: 7.47vw;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-arrows  {
	    left: 19.6vw;
	    bottom: 8vw;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-arrows .ac-harvestfresh-arrow {
	    width: 10.67vw;
	    height: 10.67vw;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-arrows .ac-harvestfresh-arrow + .ac-harvestfresh-arrow {
	    margin-left: 5.33vw;
	}

	section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-arrows .ac-harvestfresh-arrow img {
	    width: 3.73vw;
	    height: 2.67vw;
	    margin-left: -1.87vw;
	    margin-top: -1.33vw;
	}

	/* Video */

	section.ac-harvestfresh-video {
	    padding-left: 4.53vw;
	    padding-right: 4.53vw;
	    padding-top: 28vw;
	    padding-bottom: 37.33vw;
	}

	section.ac-harvestfresh-video .ac-harvestfresh-video-container .ac-harvestfresh-video-text-1 {
	    top: -29.33vw;
	    left: 0;
	    font-size: 14.93vw;
	}

	section.ac-harvestfresh-video .ac-harvestfresh-video-container .ac-harvestfresh-video-text-2 {
	    bottom: -29.33vw;
	    right: 0;
	    font-size: 14.93vw;
	}

	section.ac-harvestfresh-video .ac-harvestfresh-video-container .ac-harvestfresh-video-iframe-container .ac-harvestfresh-video-iframe {
	    border-radius: 2.67vw;
	}

	section.ac-harvestfresh-video .ac-harvestfresh-video-container .ac-harvestfresh-video-play-container {
	    border-radius: 2.67vw;
	}

	section.ac-harvestfresh-video .ac-harvestfresh-video-container .ac-harvestfresh-video-play-container .ac-harvestfresh-video-play {
	    width: 7.47vw;
	    height: 7.47vw;
	    margin-left: -3.73vw;
	    margin-top: -3.73vw;
	}

	section.ac-harvestfresh-video .ac-harvestfresh-video-container .ac-harvestfresh-video-play-container .ac-harvestfresh-video-play img {
	    width: 2.4vw;
	    height: 2.13vw;
	    margin-left: -1.2vw;
	    margin-top: -1.07vw;
	}

	/* List */

	section.ac-harvestfresh-list {
	    padding-left: 4.53vw;
	    padding-right: 4.53vw;
	    padding-top: 9.6vw;
	    padding-bottom: 19.73vw;
	}

	section.ac-harvestfresh-list .ac-harvestfresh-items {
	    margin-top: 13.33vw;
	}

	section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item {
	    width: 100%;
	    padding: 10.67vw 9.33vw;
	    border-radius: 2.13vw;
	}

	section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item:nth-child(3n + 2),
	section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item:nth-child(3n + 3) {
	    margin-left: 0;
	}

	section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item + .ac-harvestfresh-item {
	    margin-top: 10.67vw;
	}

	section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item .ac-harvestfresh-title {
	    font-size: 3.73vw;
	}

	section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item .ac-harvestfresh-text {
	    margin-top:2.67vw;
	    font-size: 4.8vw;
	}

	section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item .ac-harvestfresh-image {
	    margin-top:12vw;
	    width: 22.67vw;
	}
}