
@font-face {
    font-family: 'CoreSans';
    src: url('Fonts/subset-CoreSansC-35Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'CoreSans';
    src: url('Fonts/subset-CoreSansC-45Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CoreSans';
    src: url('Fonts/subset-CoreSansC-55Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'CoreSans';
    src: url('Fonts/subset-CoreSansC-65Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'CoreSans';
    src: url('Fonts/subset-CoreSansC-75ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'CoreSans';
    src: url('Fonts/subset-CoreSansC-95Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}


/* General Bootstrap */

body {
    margin:0;
    padding:0;
}

section.ac-harvestfresh-section {
    position: relative;
    font-weight: 400;
    font-family: "CoreSans";
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    -webkit-font-smoothing: antialiased;
}

section.ac-harvestfresh-section,
section.ac-harvestfresh-section * {
    font-size: 0;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

section.ac-harvestfresh-section .ac-harvestfresh-iframe-bg-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}

section.ac-harvestfresh-section .ac-harvestfresh-iframe-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

section.ac-harvestfresh-section .ac-harvestfresh-iframe-bg-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

section.ac-harvestfresh-section .ac-harvestfresh-iframe-bg-layer.black{
	background-color: rgba(0,0,0,0.5);
}

section.ac-harvestfresh-section p {
    margin: 0;
    padding: 0;
}

section.ac-harvestfresh-section b,
section.ac-harvestfresh-section strong {
    font-weight: 800;
}

section.ac-harvestfresh-section .ac-font * {
    font-family: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
}


/* General */
section.ac-harvestfresh-section .ac-harvestfresh-title-default {
    position: relative;
    font-weight: 800;
    font-size: 48px;
    line-height: 1.2em;
    color: #000000;
    text-align: center;
}

section.ac-harvestfresh-section .ac-harvestfresh-title-default.ac-harvestfresh-title-default-with-icon {
    padding-bottom: 35px; 
}

section.ac-harvestfresh-section .ac-harvestfresh-title-default.ac-harvestfresh-title-default-with-icon:after {
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    bottom:0;
    left: 50%;
    margin-left: -40px;
    background-image:url(Images/text-icon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

section.ac-harvestfresh-section .ac-harvestfresh-text-default {
    position: relative;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.625em;
    color: #000000;
    text-align: center;
}

section.ac-harvestfresh-section .ac-harvestfresh-text-default.ac-harvestfresh-text-default-with-icon {
    padding-left: 115px;
}


section.ac-harvestfresh-section .ac-harvestfresh-text-default.ac-harvestfresh-text-default-with-icon:after {
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    top:15px;
    left: 0;
    background-image:url(Images/text-icon.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

section.ac-harvestfresh-section .ac-harvestfresh-smalltext-default{
    font-weight: 300;
    font-size: 12px;
    line-height: 1.83em;
    color:#8E8E93;
}

section.ac-harvestfresh-section .ac-harvestfresh-title-default + .ac-harvestfresh-text-default {
    margin-top: 35px;
}

section.ac-harvestfresh-section .ac-harvestfresh-titşe-default *,
section.ac-harvestfresh-section .ac-harvestfresh-text-default * {
    font-family: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
}


/* Banner */

section.ac-harvestfresh-banner {
    padding-top: 86px;
    padding-bottom: 175px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
	background-image: url(Images/video-placeholder.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

section.ac-harvestfresh-banner .ac-harvestfresh-banner-hour {
    position: absolute;
    width: 1210px;
    height: 520px;
    left: 50%;
    bottom:0%;
    margin-left: -605px;
}

section.ac-harvestfresh-banner .ac-harvestfresh-banner-hour:before {
    content: '';
    position: absolute;
    width: 1210px;
    height: 1210px;
    border-radius: 50%;
    left: 0;
    top: 0;
    border:1px solid rgba(255, 255, 255, .5);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

section.ac-harvestfresh-banner .ac-harvestfresh-banner-hour .ac-harvestfresh-banner-hour-text {
    position: absolute;
    width: 11px;
    height: 11px;
    border:4px solid #FFFFFF;
    background-color: #000000;
    border-radius: 50%;
}

section.ac-harvestfresh-banner .ac-harvestfresh-banner-hour .ac-harvestfresh-banner-hour-text span {
    position: absolute;
    left: calc(100% + 8px);
    top: -7px;
    font-weight: 800;
    font-size: 14px;
    color: #FFFFFF;
}

section.ac-harvestfresh-banner .ac-harvestfresh-logo {
    position: relative;
    width: 320px;
    display: inline-block;
}

section.ac-harvestfresh-banner .ac-harvestfresh-logo img {
    width: 100%;
}

section.ac-harvestfresh-banner .ac-harvestfresh-content {
    position: relative;
    margin-top: 110px;
    padding-left:calc(50% - 160px);
}

section.ac-harvestfresh-banner .ac-harvestfresh-content .ac-harvestfresh-title-default {
    font-size: 64px;
    color: #FFFFFF;
    text-align: left;
}

section.ac-harvestfresh-banner .ac-harvestfresh-content .ac-harvestfresh-text-default {
    font-size: 20px;
    color: #FFFFFF;
    text-align: left;
}

section.ac-harvestfresh-banner .ac-harvestfresh-content .ac-harvestfresh-title-default +  .ac-harvestfresh-text-default {
    margin-top: 20px;
}

section.ac-harvestfresh-banner .ac-harvestfresh-content .ac-harvestfresh-refrigerator {
    position: absolute;
    width: 240px;
    left: calc(50% - 660px);
    top: -165px;
}

section.ac-harvestfresh-banner .ac-harvestfresh-discover {
    position: absolute;
    padding-left: 190px;
    left: calc(50% - 245px);
    bottom: -175px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform-origin: left bottom;
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    -o-transform-origin: left bottom;
}

section.ac-harvestfresh-banner .ac-harvestfresh-discover:before {
    content: '';
    position: absolute;
    width: 175px;
    height: 1px;
    top: 50%;
    left: 0;
    background-color: #FFFFFF;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

section.ac-harvestfresh-banner .ac-harvestfresh-discover span {
    font-weight: 800;
    font-size: 14px;
    line-height: 1em;
    color: #FFFFFF;
}

section.ac-harvestfresh-banner .ac-harvestfresh-discover span:before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border: 3px solid #FFF;
    background-color: #c3c3c3;
    border-radius: 50%;
    top:50%;
	left: 50%;
    margin-top: -6px;
    animation: discoverAnimation 2s ease-in-out infinite;
    -webkit-animation: discoverAnimation 2s ease-in-out infinite;
    -moz-animation: discoverAnimation 2s ease-in-out infinite;
    -ms-animation: discoverAnimation 2s ease-in-out infinite;
    -o-animation: discoverAnimation 2s ease-in-out infinite;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

@keyframes discoverAnimation {
    0% {
        left: 175px;
    }
    40% {
        left: 115px;
    }
    50% {
        left: 135px;
    }
    85% {
        left: 135px;
    }
    100% {
        left: 175px;
    }
}

@-webkit-keyframes discoverAnimation {
    0% {
        left: 175px;
    }
    40% {
        left: 115px;
    }
    50% {
        left: 135px;
    }
    85% {
        left: 135px;
    }
    100% {
        left: 175px;
    }
}

@-moz-keyframes discoverAnimation {
    0% {
        left: 175px;
    }
    40% {
        left: 115px;
    }
    50% {
        left: 135px;
    }
    85% {
        left: 135px;
    }
    100% {
        left: 175px;
    }
}

@-ms-keyframes discoverAnimation {
    0% {
        left: 175px;
    }
    40% {
        left: 115px;
    }
    50% {
        left: 135px;
    }
    85% {
        left: 135px;
    }
    100% {
        left: 175px;
    }
}

section.ac-harvestfresh-banner .ac-harvestfresh-banner-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

/* 24 Hour */

section.ac-harvestfresh-hours {
    padding-top: 135px;
    padding-bottom: 105px;
    padding-left: 50px;
    padding-right: 50px;
}

section.ac-harvestfresh-hours .ac-harvestfresh-roundslider {
    position: relative;
    margin-top: 65px;
    text-align: center;
}

section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-roundslider-item {
    display: inline-block;
    background-image:url(Images/spectrum.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-roundslider-item .ac-harvestfresh-icon-morning {
    position: absolute;
    width: 70px;
    height: 70px;
    left: -4px;
    bottom: -23px;
    background-color: #FFFFFF;
    border-radius: 50%;    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
    box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
}

section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-roundslider-item .ac-harvestfresh-icon-morning img {
    width: 100%;
}

section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-roundslider-item .ac-harvestfresh-icon-afternoon {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 50%;
    margin-left: -35px;
    top: -7px;
    background-color: #FFFFFF;
    border-radius: 50%;    
    -webkit-box-shadow: 0px 0px 10px 10px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 10px 10px rgba(255,255,255,1);
    box-shadow: 0px 0px 10px 10px rgba(255,255,255,1);
}

section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-roundslider-item .ac-harvestfresh-icon-afternoon img {
    width: 100%;
}

section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-roundslider-item .ac-harvestfresh-icon-evening {
    position: absolute;
    width: 70px;
    height: 70px;
    right: -4px;
    bottom: -23px;
    background-color: #FFFFFF;
    border-radius: 50%;    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
    box-shadow: 0px 0px 5px 5px rgba(255,255,255,1);
}

section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-roundslider-item .ac-harvestfresh-icon-evening img {
    width: 100%;
}

section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-items {
    position: absolute;
    width: 406px;
    height: auto;
    bottom: 0;
    left: 50%;
    margin-left: -203px;
}

section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-items .ac-harvestfresh-item {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0px;
    opacity: 0;
}

section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-items .ac-harvestfresh-item.blue {
    opacity: 1;
}

section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-items .ac-harvestfresh-item .ac-harvestfresh-title {
    font-weight: 800;
    font-size: 32px;
}

section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-items .ac-harvestfresh-item.blue .ac-harvestfresh-title {
    color: #3682F9;
}

section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-items .ac-harvestfresh-item.green .ac-harvestfresh-title {
    color:#0BD100;
}

section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-items .ac-harvestfresh-item.red .ac-harvestfresh-title {
    color: #FF0100;
}

section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-items .ac-harvestfresh-item .ac-harvestfresh-text {
    margin-top: 10px;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.28em;
    color: #000000;
}

section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-items .ac-harvestfresh-item .ac-harvestfresh-image {
    margin-top: 28px;
    -webkit-box-shadow: 0px 60px 25px -40px rgba(112,112,112,.3);
    -moz-box-shadow: 0px 60px 25px -40px rgba(112,112,112,.3);
    box-shadow: 0px 60px 25px -40px rgba(112,112,112,.3);
}

section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-items .ac-harvestfresh-item .ac-harvestfresh-image img {
    width: 100%;
}

section.ac-harvestfresh-hours .ac-harvestfresh-roundslider .ac-harvestfresh-items .ac-harvestfresh-items-smalltext {
    position: absolute;
    width: 140%;
    bottom: -45px;
    left: -20%;
    font-weight: 300;
    font-size: 12px;
    color: #000000;
}

/* Vitamins */
section.ac-harvestfresh-vitamins {
    text-align: center;
}

section.ac-harvestfresh-vitamins .ac-harvestfresh-image{
    width: 50%;
    max-width: 960px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}

section.ac-harvestfresh-vitamins .ac-harvestfresh-image img {
    width: 838px;
    margin-left: -92px;
}

section.ac-harvestfresh-vitamins .ac-harvestfresh-content {
    width: 50%;
    max-width: 960px;
    padding-right: 50px;
    display: inline-block;
    vertical-align: middle;
}

section.ac-harvestfresh-vitamins .ac-harvestfresh-content .ac-harvestfresh-title-default {
    text-align: left;
}

section.ac-harvestfresh-vitamins .ac-harvestfresh-content .ac-harvestfresh-text-default {
    text-align: left;
}

section.ac-harvestfresh-vitamins .ac-harvestfresh-content .ac-harvestfresh-smalltext-default {
    padding-left: 115px;
    text-align: left;
}

section.ac-harvestfresh-vitamins .ac-harvestfresh-content .ac-harvestfresh-text-default + .ac-harvestfresh-smalltext-default {
    margin-top: 50px;
}

/* Slider */
section.ac-harvestfresh-slider {
    padding-top: 160px;
	padding-bottom: 45px;
    text-align: center;
    overflow: hidden;
}

section.ac-harvestfresh-slider .ac-harvestfresh-content {
    width: 50%;
    max-width: 960px;
    padding-left: 50px;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

section.ac-harvestfresh-slider .ac-harvestfresh-content .ac-harvestfresh-title-content-inner-container {
    display: inline-block;
}

section.ac-harvestfresh-slider .ac-harvestfresh-content .ac-harvestfresh-title-default {
    text-align: left;
}

section.ac-harvestfresh-slider .ac-harvestfresh-content .ac-harvestfresh-text-default {
    text-align: left;
}

section.ac-harvestfresh-slider .ac-harvestfresh-items {
    position: relative;
    width: 50%;
    height: 612px;
    padding-left: 130px;
    text-align: left;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}

section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item {
    position: relative;
    width: 408px;
    height: 612px;
    border-radius: 40px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    opacity: .2;
    -webkit-box-shadow: 0px 20px 28px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 20px 28px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 20px 28px 0px rgba(0,0,0,0.3);
    transition: opacity .5s linear;
    -webkit-transition: opacity .5s linear;
    -moz-transition: opacity .5s linear;
    -ms-transition: opacity .5s linear;
    -o-transition: opacity .5s linear;
}

section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item.animate.animate-step2 {
    transition: transform .5s cubic-bezier(0.46,0.03,0.52,0.96), opacity .5s linear;
    -webkit-transition: transform .5s cubic-bezier(0.46,0.03,0.52,0.96), opacity .5s linear;
    -moz-transition: transform .5s cubic-bezier(0.46,0.03,0.52,0.96), opacity .5s linear;
    -ms-transition: transform .5s cubic-bezier(0.46,0.03,0.52,0.96), opacity .5s linear;
    -o-transition: transform .5s cubic-bezier(0.46,0.03,0.52,0.96), opacity .5s linear;
    transform: translateX(calc(-100% - 40px));
    -webkit-transform: translateX(calc(-100% - 40px));
    -moz-transform: translateX(calc(-100% - 40px));
    -ms-transform: translateX(calc(-100% - 40px));
    -o-transform: translateX(calc(-100% - 40px));
}

section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item.animate:first-child  .ac-harvestfresh-text {
    opacity: 0;
}

section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item.animate.animate-step2:first-child {
    opacity: 0;
}

section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item.animate.animate-step2:nth-child(2) {
    opacity: 1;
}

section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item.animate-backward {
    transform: translateX(calc(-100% - 40px));
    -webkit-transform: translateX(calc(-100% - 40px));
    -moz-transform: translateX(calc(-100% - 40px));
    -ms-transform: translateX(calc(-100% - 40px));
    -o-transform: translateX(calc(-100% - 40px));
}

section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item.animate-backward:first-child {
    opacity: 0;
}

section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item.animate-backward:nth-child(2) {
    opacity: 1;
}

section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item.animate-backward:nth-child(2) .ac-harvestfresh-text {
    opacity: 0;
}

section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item.animate-backward.animate-backward-step2 {
    transition: transform .5s cubic-bezier(0.46,0.03,0.52,0.96), opacity .5s linear;
    -webkit-transition: transform .5s cubic-bezier(0.46,0.03,0.52,0.96), opacity .5s linear;
    -moz-transition: transform .5s cubic-bezier(0.46,0.03,0.52,0.96), opacity .5s linear;
    -ms-transition: transform .5s cubic-bezier(0.46,0.03,0.52,0.96), opacity .5s linear;
    -o-transition: transform .5s cubic-bezier(0.46,0.03,0.52,0.96), opacity .5s linear;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}

section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item.animate-backward.animate-backward-step2:first-child {
    opacity: 1;
}

section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item.animate-backward.animate-backward-step2:nth-child(2) {
    opacity: .2;
}

section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item:first-child {
    opacity: 1;
}

section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item + .ac-harvestfresh-item {
    margin-left: 40px;
}

section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item .ac-harvestfresh-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image .5s ease-in-out;
    -webkit-transition: background-image .5s ease-in-out;
    -moz-transition: background-image .5s ease-in-out;
    -ms-transition: background-image .5s ease-in-out;
    -o-transition: background-image .5s ease-in-out;
}

section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item .ac-harvestfresh-text {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    bottom: 0;
    padding: 135px 42px; 
    font-weight: 800;
    font-size: 36px;
    line-height: 1.2em;
    color: #FFFFFF;
    white-space: normal;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
}

section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-item.active .ac-harvestfresh-text {
    opacity: 1;
}

section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-arrows  {
    position: absolute;
    left: 172px;
    bottom: 42px;
}

section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-arrows .ac-harvestfresh-arrow {
    position: relative;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #FFF;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-arrows .ac-harvestfresh-arrow + .ac-harvestfresh-arrow {
    margin-left: 17px;
}

section.ac-harvestfresh-slider .ac-harvestfresh-items .ac-harvestfresh-arrows .ac-harvestfresh-arrow img {
    position: absolute;
    width: 14px;
    height: 10px;
    left:50%;
    top:50%;
    margin-left: -7px;
    margin-top: -5px;
}

/* Video */

section.ac-harvestfresh-video {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 150px;
    padding-bottom: 175px;
    text-align: center;
    overflow: hidden;
}

section.ac-harvestfresh-video .ac-harvestfresh-video-container {
    width: 1140px;
    max-width: 100%;
    display: inline-block;
}

section.ac-harvestfresh-video .ac-harvestfresh-video-container .ac-harvestfresh-video-text-1 {
    position: absolute;
    top: -160px;
    left: -140px;
    font-weight: 900;
    font-size: 100px;
    line-height: 1em;
    color:#EEEEEE;
    text-align: left;
}

section.ac-harvestfresh-video .ac-harvestfresh-video-container .ac-harvestfresh-video-text-2 {
    position: absolute;
    bottom: -160px;
    right: -140px;
    font-weight: 900;
    font-size: 100px;
    line-height: 1em;
    color:#EEEEEE;
    text-align: right;
}

section.ac-harvestfresh-video .ac-harvestfresh-video-container .ac-harvestfresh-video-iframe-container {
    position: relative;
    width: 100%;
    padding-top:56.2%;
}

section.ac-harvestfresh-video .ac-harvestfresh-video-container .ac-harvestfresh-video-iframe-container .ac-harvestfresh-video-iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 40px;
}

section.ac-harvestfresh-video .ac-harvestfresh-video-container .ac-harvestfresh-video-play-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section.ac-harvestfresh-video .ac-harvestfresh-video-container .ac-harvestfresh-video-play-container .ac-harvestfresh-video-play {
    position: absolute;
    width: 96px;
    height: 96px;
    left:50%;
    top:50%;
    margin-left: -48px;
    margin-top: -48px;
    border:1px solid #FFFFFF;
    border-radius: 50%;
}

section.ac-harvestfresh-video .ac-harvestfresh-video-container .ac-harvestfresh-video-play-container .ac-harvestfresh-video-play img {
    position: absolute;
    width: 30px;
    height: 26px;
    left:50%;
    top:50%;
    margin-left: -15px;
    margin-top: -13px;
}

/* List */

section.ac-harvestfresh-list {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
    text-align: center;
}

section.ac-harvestfresh-list .ac-harvestfresh-items {
    width: 1350px;
    max-width: 100%;
    margin-top: 40px;
    display: inline-block;
}

section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item {
    width: calc((100% - 71px) / 3);
    padding: 50px 45px 55px 45px;
    background-color: #75ACC8;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item:nth-child(2n) {
    background-color: #76B9B5;
}

section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item:nth-child(3n + 2),
section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item:nth-child(3n + 3) {
    margin-left: 35px;
}

section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item .ac-harvestfresh-title {
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}

section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item .ac-harvestfresh-text {
    margin-top:18px;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.33em;
    color: #FFFFFF;
}

section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item .ac-harvestfresh-image {
    margin-top:60px;
    width: 113px;
    display: inline-block;
}

section.ac-harvestfresh-list .ac-harvestfresh-items .ac-harvestfresh-item .ac-harvestfresh-image img {
    width: 100%;
}

/* Round Slider */

.rs-svg-mode .rs-range,
.rs-svg-mode .rs-path {
    stroke: transparent;
}

.rs-svg-mode .rs-border {
    stroke: transparent;
}

.rs-handle-dot {
    transform: translateX(3px);
    background-image: url(Images/icon-clock.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    -webkit-box-shadow: 0px 13px 13px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 13px 13px 0px rgba(0,0,0,0.24);
    box-shadow: 0px 13px 13px 0px rgba(0,0,0,0.24);;
}

.rs-handle-dot:after {
    display: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.rs-transition  {
    transition-timing-function: cubic-bezier(0.46,0.03,0.52,0.96) !important;
    -webkit-transition-timing-function: cubic-bezier(0.46,0.03,0.52,0.96) !important;
    -moz-transition-timing-function: cubic-bezier(0.46,0.03,0.52,0.96) !important;
    -ms-transition-timing-function: cubic-bezier(0.46,0.03,0.52,0.96) !important;
    -o-transition-timing-function: cubic-bezier(0.46,0.03,0.52,0.96) !important;
}

/* The End */