@charset "UTF-8";

/* Подключение шрифтов */

/* Размер свойства(свойство, размер макета №1, размер макета №2, размер свойства №1, размер свойства №2) */

/* Ширина контейнра(максимальный размер макета, минимальный размер макета, максимальный размер контейнера, минимальный размер контейнера) */

/* Обнуление стилей */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

.center {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.wrap {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.container,
.center {
  margin: 0 auto;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?ftp8p8");
  src: url("../fonts/icomoon.eot?ftp8p8#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?ftp8p8") format("truetype"), url("../fonts/icomoon.woff?ftp8p8") format("woff"), url("../fonts/icomoon.svg?ftp8p8#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-chevron-left:before {
  content: "\e900";
}

.icon-chevron-right:before {
  content: "\e901";
}

.icon-shopping-cart:before {
  content: "\e902";
}

.icon-facebook:before {
  content: "\e903";
}

.icon-pinterest:before {
  content: "\e904";
}

.icon-instagram:before {
  content: "\e905";
}

.icon-youtube:before {
  content: "\e906";
}

.icon-envelope:before {
  content: "\e907";
}

/* Стили */

.container {
  width: calc(290px + 910 * ((100vw - 320px) / (1920 - 320)));
}

body {
  line-height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #00283C;
}

body,
p {
  font-size: calc(14px + 2 * ((100vw - 320px) / (1920 - 320)));
}

body,
.wrap {
  background: #F0F0F0;
}

a:hover {
  color: #0185C8;
}

h1,
h2,
h3 {
  line-height: 100%;
  font-weight: 200;
}

h1 {
  font-size: calc(40px + 20 * ((100vw - 320px) / (1920 - 320)));
}

h2 {
  font-size: calc(30px + 12 * ((100vw - 320px) / (1920 - 320)));
}

h3 {
  font-size: calc(21px + 11 * ((100vw - 320px) / (1920 - 320)));
}

picture,
img {
  width: 100%;
  height: 100%;
}

/* Хедер <-- */

.header__ads {
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #0185C8;
  padding: 24px 0;
}

.header__cart {
  margin: 30px auto;
}

.header__cart-btn {
  font-size: 12px;
  margin-right: 0;
}

.header__cart-btn:hover {
  cursor: pointer;
  color: #00283C;
}

.header__cart-btn:hover .header__cart-icon {
  background: #0185C8;
}

.header__cart-price {
  font-size: calc(16px + 2 * ((100vw - 320px) / (1920 - 320)));
  line-height: 100%;
}

.header__cart-price span {
  font-size: calc(18px + 3 * ((100vw - 320px) / (1920 - 320)));
  font-weight: 300;
  margin-left: 5px;
}

.header__cart-icon {
  background: #A5A6A8;
  color: #FFFFFF;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 15px;
}

.header__wrap {
  background: #FFFFFF;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px;
  position: relative;
}

.header__col-left {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.header__language {
  font-weight: 300;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.header__language a {
  margin-right: 15px;
}

.header__language a.active {
  color: #0185C8;
}

.header__nav {
  margin-top: 30px;
}

.header__nav ul {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.header__nav li {
  margin-right: 30px;
}

/* Хедер --> */

/* Страница <-- */

.content {
  background: #FFFFFF;
}

.product__img {
  overflow: hidden;
}

.product__img:hover img,
li.product:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

li.product:hover {
  cursor: pointer;
}

.social {
  font-size: 12px;
  position: absolute;
}

.social ul,
.social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social a {
  background: #A5A6A8;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.social a:hover {
  color: #FFFFFF;
  background: #0185C8;
}

.social-col {
  right: -60px;
  top: 0;
}

.social-col ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.social-col li {
  margin-bottom: 15px;
}

.social-row {
  width: 100%;
  bottom: -60px;
}

.social-row ul {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.social-row li {
  margin-right: 15px;
}

.social-row li:last-child {
  margin-right: 0;
}

/* Страница --> */

/* Главная страница <-- */

.hp section {
  background: #FFFFFF;
  padding-top: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
  padding-bottom: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
}

.hp-gallery__img,
.hp-collage__wrap div {
  overflow: hidden;
}

.hp-gallery__img:hover img,
.hp-collage .tw-l:hover img,
.hp-collage .tw-r:hover img,
.hp-collage .bw-l:hover img,
.hp-collage .bw-r-t:hover img,
.hp-collage .bw-r-b:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/* Главная страница --> */

/* Главная страница - Слайдер <-- */

.hp section.hp-slider {
  padding: 0;
}

.hp-slider,
.hp-slider__wrap {
  width: calc(290px + 910 * ((100vw - 320px) / (1920 - 320)));
  height: calc(116px + 364 * ((100vw - 320px) / (1920 - 320)));
  position: relative;
}

.hp-slider__wrap {
  overflow: hidden;
}

.hp-slider .slide {
  opacity: 0;
  position: absolute;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.hp-slider .slide.active {
  opacity: 1;
}

.hp-slider .btn-prev,
.hp-slider .btn-next {
  font-size: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
  color: rgba(255, 255, 255, 0.75);
  width: calc(30px + 30 * ((100vw - 320px) / (1920 - 320)));
  height: 100%;
  top: 0;
  position: absolute;
  cursor: pointer;
}

.hp-slider .btn-prev:hover,
.hp-slider .btn-next:hover {
  color: white;
}

.hp-slider .btn-prev {
  left: 0;
}

.hp-slider .btn-next {
  right: 0;
}

.hp-slider__dots {
  margin-top: calc(-15.5px + -15.5 * ((100vw - 320px) / (1920 - 320)));
  position: absolute;
  width: 100%;
}

.hp-slider__dots span {
  background: #FFFFFF;
  width: calc(5px + 5 * ((100vw - 320px) / (1920 - 320)));
  height: calc(5px + 5 * ((100vw - 320px) / (1920 - 320)));
  margin: calc(3px + 3 * ((100vw - 320px) / (1920 - 320)));
  border-radius: 50%;
  cursor: pointer;
}

.hp-slider__dots .active {
  background: #0185C8;
}

/* Главная страница - Слайдер --> */

/* Главная страница - Иконки <-- */

.hp section.hp-m-list {
  background: #F7F7F7;
  padding-top: calc(7.5px + 7.5 * ((100vw - 320px) / (1920 - 320)));
  padding-bottom: calc(7.5px + 7.5 * ((100vw - 320px) / (1920 - 320)));
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.hp-m-item {
  background: #FFFFFF;
  width: calc(60px + 30 * ((100vw - 320px) / (1920 - 320)));
  height: calc(60px + 30 * ((100vw - 320px) / (1920 - 320)));
  padding: calc(10px + 5 * ((100vw - 320px) / (1920 - 320)));
  margin: calc(7.5px + 7.5 * ((100vw - 320px) / (1920 - 320)));
  border: 1px solid #FFFFFF;
  -webkit-box-shadow: 0px 0px 4px -2px rgba(24, 39, 75, 0.12);
  box-shadow: 0px 0px 4px -2px rgba(24, 39, 75, 0.12);
}

.hp-m-item:hover {
  border: 1px solid #0185C8;
}

/* Главная страница - Иконки --> */

/* Главная страница - Галерея <-- */

.hp section.hp-gallery {
  padding-top: calc(7.5px + 37.5 * ((100vw - 320px) / (1920 - 320)));
}

.hp-gallery__wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.hp-gallery__item {
  width: calc(260px + 80 * ((100vw - 320px) / (1920 - 320)));
  margin: calc(7.5px + 7.5 * ((100vw - 320px) / (1920 - 320)));
  position: relative;
}

.hp-gallery__img {
  height: calc(145.3px + 44.7 * ((100vw - 320px) / (1920 - 320)));
}

.hp-gallery__title {
  font-weight: 300;
  text-align: left;
  background: rgba(255, 255, 255, 0.8);
  width: 90%;
  padding: 5px 10px;
  margin-top: -24px;
  position: absolute;
}

/* Главная страница - Галерея --> */

/* Главная страница - Коллаж <-- */

.hp .hp-collage__wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.hp .hp-collage h2 {
  margin-bottom: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
}

.hp .hp-collage .tw,
.hp .hp-collage .bw,
.hp .hp-collage .bw-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hp .hp-collage .bw-r {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.hp .hp-collage .tw-l,
.hp .hp-collage .bw-r {
  width: calc(86.57px + 273.43 * ((100vw - 320px) / (1920 - 320)));
}

.hp .hp-collage .tw-r,
.hp .hp-collage .bw-l {
  width: calc(165.93px + 524.07 * ((100vw - 320px) / (1920 - 320)));
}

.hp .hp-collage .tw,
.hp .hp-collage .bw-r,
.hp .hp-collage .bw-r-t {
  height: calc(81.76px + 258.24 * ((100vw - 320px) / (1920 - 320)));
}

.hp .hp-collage .bw-l,
.hp .hp-collage .bw-r {
  height: calc(170.74px + 539.26 * ((100vw - 320px) / (1920 - 320)));
}

.hp .hp-collage .tw,
.hp .hp-collage .bw-r-t {
  margin-bottom: calc(7.5px + 22.5 * ((100vw - 320px) / (1920 - 320)));
}

.hp .hp-collage .tw-l,
.hp .hp-collage .bw-l {
  margin-right: calc(7.5px + 22.5 * ((100vw - 320px) / (1920 - 320)));
}

/* Главная страница - Коллаж --> */

/* Главная страница - Текстовая информация <-- */

.hp-info {
  margin-left: calc(15px + 45 * ((100vw - 320px) / (1920 - 320)));
  margin-right: calc(15px + 45 * ((100vw - 320px) / (1920 - 320)));
}

.hp-info h3 {
  line-height: 150%;
  text-align: center;
  margin-bottom: calc(32px + 32 * ((100vw - 320px) / (1920 - 320)));
}

.hp-info p {
  line-height: 150%;
  margin-bottom: calc(36px + 6 * ((100vw - 320px) / (1920 - 320)));
}

.hp-info p:last-child {
  margin-bottom: 0;
}

.hp-info span {
  font-size: calc(18px + 3 * ((100vw - 320px) / (1920 - 320)));
  color: #0185C8;
  margin-bottom: 5px;
  display: block;
}

/* Главная страница - Текстовая информация --> */

/* Футер - Товары <-- */

.footer {
  position: relative;
  margin-bottom: calc(90px + 30 * ((100vw - 320px) / (1920 - 320)));
}

.footer__widget {
  background: #FFFFFF;
  /*
         &:after
            content: ''
            width: 1px
            height: 260px
            background: $GreeyLight
            position: absolute
            top: -5px
            right: -29.5px
         &:last-child:after
            display: none
         @media (max-width: 1919px)
            &:nth-last-child(-n+2):after
               display: none
         @media (max-width: 1391px)
            &:last-child::after
               display: none
            &:nth-last-child(-n+3):after
               display: none
            &:nth-last-child(-n+2):after
               display: block
         @media (max-width: 865px)
            &:last-child
               margin-bottom: 0
            &:after
               display: none!important
            &:before
               content: ''
               width: 210px
               height: 1px
               background: $GreeyLight
               position: absolute
               bottom: -30px
               right: 15px
            &:last-child:before
               display: none */
}

.footer__widget .products {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer__widget .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 240px;
  height: 250px;
  margin: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
  position: relative;
}

.footer__widget .product__img {
  height: 140px;
}

.footer__widget .product__title {
  font-weight: 300;
  margin-top: 15px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.footer__widget .product .price {
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  color: #0185C8;
}

/* Футер - Товары --> */

/* Футер - Навигация <-- */

.footer__nav {
  line-height: 150%;
  text-transform: uppercase;
  background: #FFFFFF;
  padding-top: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
  padding-bottom: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
}

.footer__nav nav {
  width: 100%;
  padding-top: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
  position: relative;
}

.footer__nav ul:before {
  content: '';
  width: calc(250px + 750 * ((100vw - 320px) / (1920 - 320)));
  height: 1px;
  background: #F0F0F0;
  position: absolute;
  top: 0;
  left: calc(25px + 75 * ((100vw - 320px) / (1920 - 320)));
}

.footer__nav li {
  margin-right: 30px;
}

/* Футер - Навигация --> */

/* Футер - Контакты <-- */

.footer__contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #FFFFFF;
  line-height: 100%;
  font-weight: 300;
  padding-bottom: calc(30px + 30 * ((100vw - 320px) / (1920 - 320)));
}

.footer__contact-list {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
}

.footer__contact span {
  font-weight: 600;
  margin-bottom: 15px;
}

.footer__contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%;
  position: relative;
}

.footer__contact ul:last-child {
  text-align: left;
  margin-left: 15px;
}

.footer__contact ul:first-child {
  margin-right: 15px;
  text-align: right;
}

.footer__contact ul:first-child:after {
  content: '';
  width: 1px;
  height: calc( 100% - 15px);
  background: #F0F0F0;
  position: absolute;
  top: 15px;
  right: -14.5px;
}

.footer__contact li {
  margin-top: 15px;
}

/* Футер - Контакты --> */

@media (min-width: 1920px) {
  .container {
    max-width: 1200px;
  }

  body,
  p {
    font-size: 16px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 32px;
  }

  .header__cart-price {
    font-size: 18px;
  }

  .header__cart-price span {
    font-size: 21px;
  }

  .hp section {
    padding-top: 30px;
  }

  .hp section {
    padding-bottom: 30px;
  }

  .hp-slider,
  .hp-slider__wrap {
    width: 1200px;
  }

  .hp-slider,
  .hp-slider__wrap {
    height: 480px;
  }

  .hp-slider .btn-prev,
  .hp-slider .btn-next {
    font-size: 30px;
  }

  .hp-slider .btn-prev,
  .hp-slider .btn-next {
    width: 60px;
  }

  .hp-slider__dots {
    margin-top: -31px;
  }

  .hp-slider__dots span {
    width: 10px;
  }

  .hp-slider__dots span {
    height: 10px;
  }

  .hp-slider__dots span {
    margin: 6px;
  }

  .hp section.hp-m-list {
    padding-top: 15px;
  }

  .hp section.hp-m-list {
    padding-bottom: 15px;
  }

  .hp-m-item {
    width: 90px;
  }

  .hp-m-item {
    height: 90px;
  }

  .hp-m-item {
    padding: 15px;
  }

  .hp-m-item {
    margin: 15px;
  }

  .hp section.hp-gallery {
    padding-top: 45px;
  }

  .hp-gallery__item {
    width: 340px;
  }

  .hp-gallery__item {
    margin: 15px;
  }

  .hp-gallery__img {
    height: 190px;
  }

  .hp .hp-collage h2 {
    margin-bottom: 30px;
  }

  .hp .hp-collage .tw-l,
  .hp .hp-collage .bw-r {
    width: 360px;
  }

  .hp .hp-collage .tw-r,
  .hp .hp-collage .bw-l {
    width: 690px;
  }

  .hp .hp-collage .tw,
  .hp .hp-collage .bw-r,
  .hp .hp-collage .bw-r-t {
    height: 340px;
  }

  .hp .hp-collage .bw-l,
  .hp .hp-collage .bw-r {
    height: 710px;
  }

  .hp .hp-collage .tw,
  .hp .hp-collage .bw-r-t {
    margin-bottom: 30px;
  }

  .hp .hp-collage .tw-l,
  .hp .hp-collage .bw-l {
    margin-right: 30px;
  }

  .hp-info {
    margin-left: 60px;
  }

  .hp-info {
    margin-right: 60px;
  }

  .hp-info h3 {
    margin-bottom: 64px;
  }

  .hp-info p {
    margin-bottom: 42px;
  }

  .hp-info span {
    font-size: 21px;
  }

  .footer {
    margin-bottom: 120px;
  }

  .footer__widget .product {
    margin: 30px;
  }

  .footer__nav {
    padding-top: 30px;
  }

  .footer__nav {
    padding-bottom: 30px;
  }

  .footer__nav nav {
    padding-top: 30px;
  }

  .footer__nav ul:before {
    width: 1000px;
  }

  .footer__nav ul:before {
    left: 100px;
  }

  .footer__contact {
    padding-bottom: 60px;
  }
}

@media (max-width: 992px) {
  .header__nav-m {
    display: block;
  }

  .header__wrap {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .header__nav {
    display: none;
  }
}

@media (max-width: 576px) {
  .header__col-left {
    display: none;
  }

  .footer__nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .footer__nav li:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .social-col {
    display: none;
  }
}