@charset "UTF-8";

/* Подключение шрифтов */

@font-face {
  font-family: "icon";
  font-display: swap;
  src: url("../fonts/icon.woff") format("woff"), url("../fonts/icon.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Размер свойства(свойство, размер макета №1, размер макета №2, размер свойства №1, размер свойства №2) */

/* Ширина контейнра(максимальный размер макета, минимальный размер макета, максимальный размер контейнера, минимальный размер контейнера) */

/* Обнуление стилей */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

.center,
.flex {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.wrap {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.container,
.center,
.flex {
  margin: 0 auto;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-shopping-cart:before {
  content: "\e900";
}

.icon-bars:before {
  content: "\e901";
}

.icon-chevron-left:before {
  content: "\e902";
}

.icon-chevron-right:before {
  content: "\e903";
}

.icon-info:before {
  content: "\e904";
}

.icon-envelope:before {
  content: "\e905";
}

.icon-facebook:before {
  content: "\e906";
}

.icon-instagram:before {
  content: "\e907";
}

.icon-pinterest:before {
  content: "\e908";
}

.icon-youtube:before {
  content: "\e909";
}

/* Стили */

.container {
  width: calc(290px + 910 * ((100vw - 320px) / (1920 - 320)));
}

body {
  color: #00283C;
}

body.lock {
  overflow: hidden;
}

body,
p {
  font-family: 'Lato', sans-serif;
  font-size: calc(16px + 2 * ((100vw - 320px) / (1920 - 320)));
  line-height: 150%;
  font-weight: 400;
}

body,
.wrap {
  background: #F0F0F0;
}

a:hover,
a.active {
  color: #0185C8;
}

h1,
h2,
h3 {
  line-height: 100%;
  font-weight: 300;
}

h1 {
  font-size: calc(40px + 20 * ((100vw - 320px) / (1920 - 320)));
}

h2 {
  font-size: calc(30px + 12 * ((100vw - 320px) / (1920 - 320)));
}

h3 {
  font-size: calc(21px + 11 * ((100vw - 320px) / (1920 - 320)));
}

picture,
img {
  display: block;
  width: 100%;
  height: 100%;
}

.btn {
  font-size: calc(14px + 2 * ((100vw - 320px) / (1920 - 320)));
  line-height: 100%;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #0185C8;
  display: block;
  padding: 18px 32px;
}

.btn:hover {
  color: #FFFFFF;
  background: #0077b4;
  cursor: pointer;
}

/* Хедер <-- */

.header__ads {
  text-transform: uppercase;
  color: #FFFFFF;
  background: #0185C8;
  padding-top: calc(12px + 6 * ((100vw - 320px) / (1920 - 320)));
  padding-bottom: calc(12px + 6 * ((100vw - 320px) / (1920 - 320)));
}

.header__ads p {
  font-size: calc(12px + 2 * ((100vw - 320px) / (1920 - 320)));
}

.header__top {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-top: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
  padding-bottom: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
}

.header__cart-btn {
  font-size: 16px;
  margin-right: 0;
}

.header__cart-btn:hover {
  color: #00283C;
  cursor: pointer;
}

.header__cart-btn:hover .header__cart-icon {
  background: #0185C8;
}

.header__cart-price span {
  font-size: calc(18px + 3 * ((100vw - 320px) / (1920 - 320)));
  font-weight: 300;
  margin-left: 5px;
}

.header__cart-icon {
  color: #FFFFFF;
  background: #A5A6A8;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-left: 15px;
}

.header__burger {
  font-size: 24px;
  display: none;
  z-index: 12;
}

.header__bottom {
  background: #FFFFFF;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
  position: relative;
}

.header__col-left {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.header__language {
  font-weight: 300;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.header__language a {
  margin-right: 15px;
}

.header__language.active {
  opacity: 1;
  z-index: 11;
}

.header__nav {
  font-weight: 300;
  text-transform: uppercase;
  margin-top: calc(10px + 20 * ((100vw - 1280px) / (1920 - 1280)));
}

.header__nav ul {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.header__nav li {
  margin-right: 30px;
}

.header__nav.active {
  opacity: 1;
  z-index: 10;
}

/* Хедер --> */

/* Страница <-- */

.content {
  background: #FFFFFF;
}

.product__img {
  overflow: hidden;
}

.product__img:hover img,
li.product:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

li.product:hover {
  cursor: pointer;
}

.social {
  font-size: 12px;
  position: absolute;
}

.social ul,
.social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.social a {
  background: #A5A6A8;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.social a:hover {
  color: #FFFFFF;
  background: #0185C8;
}

.social-col {
  right: calc(-45px + -15 * ((100vw - 320px) / (1920 - 320)));
  top: 0;
}

.social-col ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.social-col li {
  margin-bottom: 15px;
}

.social-row {
  width: 100%;
  bottom: -60px;
}

.social-row ul {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.social-row li {
  margin-right: 15px;
}

.social-row li:last-child {
  margin-right: 0;
}

/* Страница --> */

/* Футер - Товары <-- */

.footer {
  position: relative;
  margin-bottom: calc(90px + 30 * ((100vw - 320px) / (1920 - 320)));
}

.footer__widget {
  background: #FFFFFF;
  /*
         &:after
            content: ''
            width: 1px
            height: 260px
            background: $GreeyLight
            position: absolute
            top: -5px
            right: -29.5px
         &:last-child:after
            display: none
         @media (max-width: 1919px)
            &:nth-last-child(-n+2):after
               display: none
         @media (max-width: 1391px)
            &:last-child::after
               display: none
            &:nth-last-child(-n+3):after
               display: none
            &:nth-last-child(-n+2):after
               display: block
         @media (max-width: 865px)
            &:last-child
               margin-bottom: 0
            &:after
               display: none!important
            &:before
               content: ''
               width: 210px
               height: 1px
               background: $GreeyLight
               position: absolute
               bottom: -30px
               right: 15px
            &:last-child:before
               display: none */
}

.footer__widget .products {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer__widget .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 240px;
  height: 250px;
  margin: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
  position: relative;
}

.footer__widget .product__img {
  height: 140px;
}

.footer__widget .product__title {
  font-weight: 300;
  margin-top: 15px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.footer__widget .product .price {
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  color: #0185C8;
}

/* Футер - Товары --> */

/* Футер - Навигация <-- */

.footer__nav {
  font-weight: 300;
  line-height: 150%;
  text-transform: uppercase;
  background: #FFFFFF;
  padding-top: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
  padding-bottom: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
}

.footer__nav nav {
  width: 100%;
  padding-top: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
  position: relative;
}

.footer__nav ul:before {
  content: '';
  width: calc(250px + 750 * ((100vw - 320px) / (1920 - 320)));
  height: 1px;
  background: #F0F0F0;
  position: absolute;
  top: 0;
  left: calc(25px + 75 * ((100vw - 320px) / (1920 - 320)));
}

.footer__nav li {
  margin-right: 30px;
}

/* Футер - Навигация --> */

/* Футер - Контакты <-- */

.footer__contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #FFFFFF;
  line-height: 100%;
  font-weight: 300;
  padding-bottom: calc(30px + 30 * ((100vw - 320px) / (1920 - 320)));
}

.footer__contact-list {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
}

.footer__contact span {
  font-weight: 400;
  margin-bottom: 15px;
}

.footer__contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%;
  position: relative;
}

.footer__contact ul:last-child {
  text-align: left;
  margin-left: 15px;
}

.footer__contact ul:first-child {
  margin-right: 15px;
  text-align: right;
}

.footer__contact ul:first-child:after {
  content: '';
  width: 1px;
  height: calc( 100% - 15px);
  background: #F0F0F0;
  position: absolute;
  top: 15px;
  right: -14.5px;
}

.footer__contact li {
  margin-top: 15px;
}

/* Футер - Контакты --> */

/* Страница товара <-- */

.product__wrap {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
  padding-top: 0;
}

.product__col-left,
.product__col-right {
  width: calc(382px + 173 * ((100vw - 1280px) / (1920 - 1280)));
}

.product__gallery {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.product__gallery .img {
  opacity: 0;
  position: absolute;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  background: #FFFFFF;
  width: 120%;
}

.product__gallery .img.active {
  opacity: 1;
}

.product__gallery .gallery__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.product__gallery .gallery__dots span {
  margin-top: calc(7.5px + 7.5 * ((100vw - 320px) / (1920 - 320)));
  width: calc(119.33px + 55.67 * ((100vw - 1280px) / (1920 - 1280)));
  height: calc(61.36px + 28.64 * ((100vw - 1280px) / (1920 - 1280)));
}

.product__gallery .gallery__dots span:nth-child(3n+2) {
  margin-left: calc(7.5px + 7.5 * ((100vw - 320px) / (1920 - 320)));
  margin-right: calc(7.5px + 7.5 * ((100vw - 320px) / (1920 - 320)));
}

.product__gallery .gallery__dots .active {
  background: #0185C8;
}

.product__gallery,
.product .gallery__wrap {
  width: calc(382px + 173 * ((100vw - 1280px) / (1920 - 1280)));
  position: relative;
}

.product .gallery__wrap {
  height: calc(196.16px + 88.84 * ((100vw - 1280px) / (1920 - 1280)));
  overflow: hidden;
}

.product__summary .price {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: calc(7.5px + 7.5 * ((100vw - 320px) / (1920 - 320)));
  padding-bottom: calc(7.5px + 7.5 * ((100vw - 320px) / (1920 - 320)));
  padding-left: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
  padding-right: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
  border: 1px solid #F0F0F0;
}

.product__summary .price__title {
  font-size: calc(18px + 3 * ((100vw - 320px) / (1920 - 320)));
  color: #0185C8;
}

.product__summary .price__total {
  text-align: end;
}

.product__summary .price__sum {
  font-size: calc(18px + 3 * ((100vw - 320px) / (1920 - 320)));
}

.product__summary .price__currency-symbol {
  margin-left: calc(3px + 2 * ((100vw - 320px) / (1920 - 320)));
}

.product__summary .add-to-cart {
  display: block;
  text-transform: uppercase;
}

.product .varaiton__item {
  border: 1px solid #F0F0F0;
  padding-top: calc(14px + 15 * ((100vw - 320px) / (1920 - 320)));
  padding-left: calc(14px + 15 * ((100vw - 320px) / (1920 - 320)));
  padding-right: calc(14px + 15 * ((100vw - 320px) / (1920 - 320)));
  padding-bottom: calc(11.25px + 11.25 * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: -1px;
}

.product .varaiton__title {
  font-size: calc(18px + 3 * ((100vw - 320px) / (1920 - 320)));
  text-align: left;
  color: #0185C8;
  margin-top: calc(7.5px + 7.5 * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: calc(3.75px + 3.75 * ((100vw - 320px) / (1920 - 320)));
}

.product .options {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.product .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px solid #F0F0F0;
  padding: calc(7.5px + 7.5 * ((100vw - 320px) / (1920 - 320)));
  margin: 7.5px;
}

.product .option__img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.product .option__title {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.product .option__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  font-weight: 300;
}

.product .option__info span {
  margin-right: 5px;
}

.product .option.active,
.product .option:hover {
  border: 1px solid #0185C8;
}

.product__short-description,
.product__description {
  margin-top: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
  text-align: left;
}

/* Страница товара --> */

/* Главная страница <-- */

.hp section {
  background: #FFFFFF;
  padding-top: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
  padding-bottom: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
}

.hp-gallery__img,
.hp-collage__wrap div {
  overflow: hidden;
}

.hp-gallery__img:hover img,
.hp-collage .tw-l:hover img,
.hp-collage .tw-r:hover img,
.hp-collage .bw-l:hover img,
.hp-collage .bw-r-t:hover img,
.hp-collage .bw-r-b:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/* Главная страница --> */

/* Главная страница - Слайдер <-- */

.hp section.hp-slider {
  padding: 0;
}

.hp-slider,
.hp-slider__wrap {
  width: calc(290px + 910 * ((100vw - 320px) / (1920 - 320)));
  height: calc(116px + 364 * ((100vw - 320px) / (1920 - 320)));
  position: relative;
}

.hp-slider__wrap {
  overflow: hidden;
}

.hp-slider .slide {
  opacity: 0;
  position: absolute;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.hp-slider .slide.active {
  opacity: 1;
}

.hp-slider .btn-prev,
.hp-slider .btn-next {
  font-size: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
  color: rgba(255, 255, 255, 0.75);
  width: calc(30px + 30 * ((100vw - 320px) / (1920 - 320)));
  height: 100%;
  top: 0;
  position: absolute;
  cursor: pointer;
}

.hp-slider .btn-prev:hover,
.hp-slider .btn-next:hover {
  color: white;
}

.hp-slider .btn-prev {
  left: 0;
}

.hp-slider .btn-next {
  right: 0;
}

.hp-slider__dots {
  margin-top: calc(-15.5px + -15.5 * ((100vw - 320px) / (1920 - 320)));
  position: absolute;
  width: 100%;
}

.hp-slider__dots span {
  background: #FFFFFF;
  width: calc(5px + 5 * ((100vw - 320px) / (1920 - 320)));
  height: calc(5px + 5 * ((100vw - 320px) / (1920 - 320)));
  margin: calc(3px + 3 * ((100vw - 320px) / (1920 - 320)));
  border-radius: 50%;
  cursor: pointer;
}

.hp-slider__dots .active {
  background: #0185C8;
}

/* Главная страница - Слайдер --> */

/* Главная страница - Иконки <-- */

.hp section.hp-m-list {
  background: #F7F7F7;
  padding-top: calc(7.5px + 7.5 * ((100vw - 320px) / (1920 - 320)));
  padding-bottom: calc(7.5px + 7.5 * ((100vw - 320px) / (1920 - 320)));
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.hp-m-item {
  background: #FFFFFF;
  width: calc(60px + 30 * ((100vw - 320px) / (1920 - 320)));
  height: calc(60px + 30 * ((100vw - 320px) / (1920 - 320)));
  padding: calc(10px + 5 * ((100vw - 320px) / (1920 - 320)));
  margin: calc(7.5px + 7.5 * ((100vw - 320px) / (1920 - 320)));
  border: 1px solid #FFFFFF;
  -webkit-box-shadow: 0px 0px 4px -2px rgba(24, 39, 75, 0.12);
  box-shadow: 0px 0px 4px -2px rgba(24, 39, 75, 0.12);
}

.hp-m-item:hover {
  border: 1px solid #0185C8;
}

/* Главная страница - Иконки --> */

/* Главная страница - Галерея <-- */

.hp section.hp-gallery {
  padding-top: calc(7.5px + 37.5 * ((100vw - 320px) / (1920 - 320)));
}

.hp-gallery__wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.hp-gallery__item {
  width: calc(260px + 80 * ((100vw - 320px) / (1920 - 320)));
  margin: calc(7.5px + 7.5 * ((100vw - 320px) / (1920 - 320)));
  position: relative;
}

.hp-gallery__img {
  height: calc(145.3px + 44.7 * ((100vw - 320px) / (1920 - 320)));
}

.hp-gallery__title {
  font-weight: 300;
  text-align: left;
  background: rgba(255, 255, 255, 0.8);
  width: 90%;
  padding: 5px 10px;
  margin-top: calc(-30px + -4 * ((100vw - 320px) / (1920 - 320)));
  position: absolute;
}

/* Главная страница - Галерея --> */

/* Главная страница - Коллаж <-- */

.hp .hp-collage__wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.hp .hp-collage h2 {
  margin-bottom: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
}

.hp .hp-collage .tw,
.hp .hp-collage .bw,
.hp .hp-collage .bw-r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hp .hp-collage .bw-r {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.hp .hp-collage .tw-l,
.hp .hp-collage .bw-r {
  width: calc(86.57px + 273.43 * ((100vw - 320px) / (1920 - 320)));
}

.hp .hp-collage .tw-r,
.hp .hp-collage .bw-l {
  width: calc(165.93px + 524.07 * ((100vw - 320px) / (1920 - 320)));
}

.hp .hp-collage .tw,
.hp .hp-collage .bw-r,
.hp .hp-collage .bw-r-t,
.hp .hp-collage .bw-r-b {
  height: calc(81.76px + 258.24 * ((100vw - 320px) / (1920 - 320)));
}

.hp .hp-collage .bw-l,
.hp .hp-collage .bw-r {
  height: calc(170.74px + 539.26 * ((100vw - 320px) / (1920 - 320)));
}

.hp .hp-collage .tw,
.hp .hp-collage .bw-r-t {
  margin-bottom: calc(7.5px + 22.5 * ((100vw - 320px) / (1920 - 320)));
}

.hp .hp-collage .tw-l,
.hp .hp-collage .bw-l {
  margin-right: calc(7.5px + 22.5 * ((100vw - 320px) / (1920 - 320)));
}

/* Главная страница - Коллаж --> */

/* Главная страница - Текстовая информация <-- */

.hp-info {
  margin-left: calc(15px + 45 * ((100vw - 320px) / (1920 - 320)));
  margin-right: calc(15px + 45 * ((100vw - 320px) / (1920 - 320)));
}

.hp-info h3 {
  line-height: 150%;
  text-align: center;
  margin-bottom: calc(32px + 32 * ((100vw - 320px) / (1920 - 320)));
}

.hp-info p {
  line-height: 150%;
  margin-bottom: calc(36px + 6 * ((100vw - 320px) / (1920 - 320)));
}

.hp-info p:last-child {
  margin-bottom: 0;
}

.hp-info span {
  font-size: calc(18px + 3 * ((100vw - 320px) / (1920 - 320)));
  color: #0185C8;
  margin-bottom: 5px;
  display: block;
}

/* Главная страница - Текстовая информация --> */

/* 404 <-- */

.page-not-found {
  background: #FFFFFF;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: calc(60px + 60 * ((100vw - 320px) / (1920 - 320)));
  padding-bottom: calc(60px + 60 * ((100vw - 320px) / (1920 - 320)));
}

.page-not-found p {
  color: #0185C8;
  font-size: calc(90px + 30 * ((100vw - 320px) / (1920 - 320)));
  line-height: 100%;
  font-weight: 600;
  margin-bottom: 15px;
}

.page-not-found h1 {
  font-size: calc(30px + 12 * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: 30px;
}

/* 404 --> */

/* Корзина <-- */

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
  padding-right: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
}

.cart__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #F0F0F0;
  min-height: 50px;
  padding-left: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
  padding-right: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
}

.cart__bottom {
  font-weight: 300;
}

.cart__bottom .product__price,
.cart__bottom .product__options {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart .product__info {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart .product__img {
  width: 116px;
  margin-right: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
}

.cart .product__name {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.cart .product__price {
  width: 150px;
}

.cart .product__options {
  width: calc(250px + 290 * ((100vw - 1280px) / (1920 - 1280)));
}

.cart .products li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
  border: 1px solid #F0F0F0;
  margin-top: -1px;
}

.cart .products li:first-child {
  margin-top: 0;
}

/* Корзина --> */

/* Оформление заказа <-- */

.checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
}

.checkout__title {
  margin-bottom: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
  font-size: calc(18px + 3 * ((100vw - 320px) / (1920 - 320)));
}

.checkout__left,
.checkout__right {
  width: calc(50% - 30px);
}

.checkout .btn {
  margin-top: calc(7.5px + 7.5 * ((100vw - 320px) / (1920 - 320)));
}

.checkout .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: calc(12px + 2 * ((100vw - 320px) / (1920 - 320)));
}

.checkout .details input {
  border: 1px solid #F0F0F0;
  height: 45px;
  width: 100%;
  margin-top: 5px;
  padding-left: 15px;
}

.checkout .details input:focus {
  border: 1px solid #0185C8;
}

.checkout .details .field {
  margin-top: calc(7.5px + 7.5 * ((100vw - 320px) / (1920 - 320)));
}

.checkout .details .col-1 {
  width: 100%;
}

.checkout .details .col-2 {
  width: calc(50% - 15px);
}

.checkout .review {
  border: 1px solid #F0F0F0;
}

.checkout .review__top,
.checkout .review__list li,
.checkout .review__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkout .review__list {
  font-weight: 300;
}

.checkout .review__name,
.checkout .review__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
  padding: calc(7.5px + 7.5 * ((100vw - 320px) / (1920 - 320)));
}

.checkout .review__top {
  background: #F0F0F0;
}

/* Оформление заказа --> */

@media (min-width: 1280px) {
  .product .option {
    width: calc(101.34px + 53.67 * ((100vw - 1280px) / (1920 - 1280)));
  }

  .product .option:nth-child(3n+1) {
    margin-left: 0;
  }

  .product .option:nth-child(3n+3) {
    margin-right: 0;
  }
}

@media (min-width: 1280px) and (min-width: 1920px) {
  .product .option {
    width: 155.01px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1200px;
  }

  body,
  p {
    font-size: 18px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 32px;
  }

  .btn {
    font-size: 16px;
  }

  .header__ads {
    padding-top: 18px;
  }

  .header__ads {
    padding-bottom: 18px;
  }

  .header__ads p {
    font-size: 14px;
  }

  .header__top {
    padding-top: 30px;
  }

  .header__top {
    padding-bottom: 30px;
  }

  .header__cart-price span {
    font-size: 21px;
  }

  .header__bottom {
    padding: 30px;
  }

  .header__nav {
    margin-top: 30px;
  }

  .social-col {
    right: -60px;
  }

  .footer {
    margin-bottom: 120px;
  }

  .footer__widget .product {
    margin: 30px;
  }

  .footer__nav {
    padding-top: 30px;
  }

  .footer__nav {
    padding-bottom: 30px;
  }

  .footer__nav nav {
    padding-top: 30px;
  }

  .footer__nav ul:before {
    width: 1000px;
  }

  .footer__nav ul:before {
    left: 100px;
  }

  .footer__contact {
    padding-bottom: 60px;
  }

  .product__wrap {
    padding: 30px;
  }

  .product__col-left,
  .product__col-right {
    width: 555px;
  }

  .product__gallery .gallery__dots span {
    margin-top: 15px;
  }

  .product__gallery .gallery__dots span {
    width: 175px;
  }

  .product__gallery .gallery__dots span {
    height: 90px;
  }

  .product__gallery .gallery__dots span:nth-child(3n+2) {
    margin-left: 15px;
  }

  .product__gallery .gallery__dots span:nth-child(3n+2) {
    margin-right: 15px;
  }

  .product__gallery,
  .product .gallery__wrap {
    width: 555px;
  }

  .product .gallery__wrap {
    height: 285px;
  }

  .product__summary .price {
    padding-top: 15px;
  }

  .product__summary .price {
    padding-bottom: 15px;
  }

  .product__summary .price {
    padding-left: 30px;
  }

  .product__summary .price {
    padding-right: 30px;
  }

  .product__summary .price__title {
    font-size: 21px;
  }

  .product__summary .price__sum {
    font-size: 21px;
  }

  .product__summary .price__currency-symbol {
    margin-left: 5px;
  }

  .product .varaiton__item {
    padding-top: 29px;
  }

  .product .varaiton__item {
    padding-left: 29px;
  }

  .product .varaiton__item {
    padding-right: 29px;
  }

  .product .varaiton__item {
    padding-bottom: 22.5px;
  }

  .product .varaiton__title {
    font-size: 21px;
  }

  .product .varaiton__title {
    margin-top: 15px;
  }

  .product .varaiton__title {
    margin-bottom: 7.5px;
  }

  .product .option {
    padding: 15px;
  }

  .product__short-description,
  .product__description {
    margin-top: 30px;
  }

  .hp section {
    padding-top: 30px;
  }

  .hp section {
    padding-bottom: 30px;
  }

  .hp-slider,
  .hp-slider__wrap {
    width: 1200px;
  }

  .hp-slider,
  .hp-slider__wrap {
    height: 480px;
  }

  .hp-slider .btn-prev,
  .hp-slider .btn-next {
    font-size: 30px;
  }

  .hp-slider .btn-prev,
  .hp-slider .btn-next {
    width: 60px;
  }

  .hp-slider__dots {
    margin-top: -31px;
  }

  .hp-slider__dots span {
    width: 10px;
  }

  .hp-slider__dots span {
    height: 10px;
  }

  .hp-slider__dots span {
    margin: 6px;
  }

  .hp section.hp-m-list {
    padding-top: 15px;
  }

  .hp section.hp-m-list {
    padding-bottom: 15px;
  }

  .hp-m-item {
    width: 90px;
  }

  .hp-m-item {
    height: 90px;
  }

  .hp-m-item {
    padding: 15px;
  }

  .hp-m-item {
    margin: 15px;
  }

  .hp section.hp-gallery {
    padding-top: 45px;
  }

  .hp-gallery__item {
    width: 340px;
  }

  .hp-gallery__item {
    margin: 15px;
  }

  .hp-gallery__img {
    height: 190px;
  }

  .hp-gallery__title {
    margin-top: -34px;
  }

  .hp .hp-collage h2 {
    margin-bottom: 30px;
  }

  .hp .hp-collage .tw-l,
  .hp .hp-collage .bw-r {
    width: 360px;
  }

  .hp .hp-collage .tw-r,
  .hp .hp-collage .bw-l {
    width: 690px;
  }

  .hp .hp-collage .tw,
  .hp .hp-collage .bw-r,
  .hp .hp-collage .bw-r-t,
  .hp .hp-collage .bw-r-b {
    height: 340px;
  }

  .hp .hp-collage .bw-l,
  .hp .hp-collage .bw-r {
    height: 710px;
  }

  .hp .hp-collage .tw,
  .hp .hp-collage .bw-r-t {
    margin-bottom: 30px;
  }

  .hp .hp-collage .tw-l,
  .hp .hp-collage .bw-l {
    margin-right: 30px;
  }

  .hp-info {
    margin-left: 60px;
  }

  .hp-info {
    margin-right: 60px;
  }

  .hp-info h3 {
    margin-bottom: 64px;
  }

  .hp-info p {
    margin-bottom: 42px;
  }

  .hp-info span {
    font-size: 21px;
  }

  .page-not-found {
    padding-top: 120px;
  }

  .page-not-found {
    padding-bottom: 120px;
  }

  .page-not-found p {
    font-size: 120px;
  }

  .page-not-found h1 {
    font-size: 42px;
  }

  .cart {
    padding-left: 30px;
  }

  .cart {
    padding-right: 30px;
  }

  .cart__top {
    padding-left: 30px;
  }

  .cart__top {
    padding-right: 30px;
  }

  .cart .product__img {
    margin-right: 30px;
  }

  .cart .product__options {
    width: 540px;
  }

  .cart .products li {
    padding: 30px;
  }

  .checkout {
    padding: 30px;
  }

  .checkout__title {
    margin-bottom: 30px;
  }

  .checkout__title {
    font-size: 21px;
  }

  .checkout .btn {
    margin-top: 15px;
  }

  .checkout .details {
    font-size: 14px;
  }

  .checkout .details .field {
    margin-top: 15px;
  }

  .checkout .review__name,
  .checkout .review__price {
    padding: 15px;
  }
}

@media (max-width: 1280px) {
  .header__top {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header__burger {
    display: block;
  }

  .header__nav {
    font-size: calc(18px + 3 * ((100vw - 320px) / (1280 - 320)));
    line-height: 150%;
    background: #F0F0F0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    opacity: 0;
    overflow: auto;
  }

  .header__nav ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: calc(100px + 35 * ((100vw - 320px) / (1280 - 320)));
  }

  .header__nav li {
    width: 100%;
    padding-top: calc(15px + 15 * ((100vw - 320px) / (1280 - 320)));
    padding-bottom: calc(15px + 15 * ((100vw - 320px) / (1280 - 320)));
    margin-right: 0;
  }
}

@media (max-width: 1279px) {
  .product__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .product__col-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }

  .product__col-right {
    width: 100%;
    margin-top: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
  }

  .product__short-description {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-top: 0;
    margin-left: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
  }

  .product .option {
    width: calc(105.76px + 67.86 * ((100vw - 768px) / (1279 - 768)));
  }

  .product .option:nth-child(4n+1) {
    margin-left: 0;
  }

  .product .option:nth-child(4n+4) {
    margin-right: 0;
  }

  .cart__top .product__options {
    display: none;
  }

  .cart .product__options {
    width: calc(250px + 487.47 * ((100vw - 320px) / (1279 - 320)));
    padding-top: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
  }

  .checkout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .checkout__left,
  .checkout__right {
    width: 100%;
  }

  .checkout__right {
    margin-top: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
  }
}

@media (max-width: 768px) {
  .product__col-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .product__gallery .gallery__dots span {
    width: calc(81.6px + 80.8 * ((100vw - 320px) / (768 - 320)));
    height: calc(42.17px + 41.35 * ((100vw - 320px) / (768 - 320)));
  }

  .product__gallery,
  .product .gallery__wrap {
    width: calc(260px + 246.42 * ((100vw - 320px) / (768 - 320)));
  }

  .product .gallery__wrap {
    height: calc(133.53px + 72.51 * ((100vw - 320px) / (768 - 320)));
  }

  .product__short-description {
    margin-left: 0;
    margin-top: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
  }
}

@media (max-width: 767px) {
  .product .option {
    width: calc(175.78px + 50.46 * ((100vw - 577px) / (767 - 577)));
  }

  .product .option:nth-child(2n+1) {
    margin-left: 0;
  }

  .product .option:nth-child(2n+2) {
    margin-right: 0;
  }

  .cart__top .product__price {
    display: none;
  }

  .cart .product__info {
    width: 100%;
  }

  .cart .product__price {
    width: 100%;
    padding-top: calc(15px + 15 * ((100vw - 320px) / (1920 - 320)));
  }

  .checkout .details .col-2 {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .header__bottom {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .header__col-left {
    position: absolute;
  }

  .header__language {
    font-size: calc(18px + 3 * ((100vw - 320px) / (1280 - 320)));
    background: #F0F0F0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: calc(47px + 4 * ((100vw - 320px) / (576 - 320)));
    opacity: 0;
    -webkit-transition: 0;
    -o-transition: 0;
    transition: 0;
  }

  .header__language a {
    padding: 15px;
    margin-right: 0;
  }

  .footer__nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .footer__nav li:last-child {
    margin-bottom: 0;
  }

  .product .option {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .social-col {
    display: none;
  }
}

@media (max-width: 576px) and (min-width: 1280px) {
  .header__language {
    font-size: 21px;
  }
}

@media (max-width: 576px) and (min-width: 576px) {
  .header__language {
    padding-top: 51px;
  }
}

@media (max-width: 1280px) and (min-width: 1280px) {
  .header__nav {
    font-size: 21px;
  }

  .header__nav ul {
    margin-top: 135px;
  }

  .header__nav li {
    padding-top: 30px;
  }

  .header__nav li {
    padding-bottom: 30px;
  }
}

@media (max-width: 1279px) and (min-width: 1920px) {
  .product__col-right {
    margin-top: 30px;
  }

  .product__short-description {
    margin-left: 30px;
  }

  .cart .product__options {
    padding-top: 30px;
  }

  .checkout__right {
    margin-top: 30px;
  }
}

@media (max-width: 768px) and (min-width: 768px) {
  .product__gallery .gallery__dots span {
    width: 162.4px;
  }

  .product__gallery .gallery__dots span {
    height: 83.52px;
  }

  .product__gallery,
  .product .gallery__wrap {
    width: 506.42px;
  }

  .product .gallery__wrap {
    height: 206.04px;
  }
}

@media (max-width: 768px) and (min-width: 1920px) {
  .product__short-description {
    margin-top: 30px;
  }
}

@media (max-width: 1279px) and (min-width: 1279px) {
  .product .option {
    width: 173.62px;
  }

  .cart .product__options {
    width: 737.47px;
  }
}

@media (max-width: 767px) and (min-width: 767px) {
  .product .option {
    width: 226.24px;
  }
}

@media (max-width: 767px) and (min-width: 1920px) {
  .cart .product__price {
    padding-top: 30px;
  }
}